* {
    margin: 0;
    padding: 0;
}

body {
    font-family: calibri;
    font-size: 14px;
    padding-bottom: 0;
}

#main.container-fluid {
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 3px, rgba(0, 0, 0, 0.239216) 0px 1px 2px;
    margin: 0 auto;
    background-color: rgb(241, 241, 241);
}

#SidePanel {
    width: 250px;
    margin-left: 0;
    height: 100%;
    margin-bottom: 10px;
    overflow: hidden;
    background: #dedede;
}

#Content{
    overflow: hidden;
    height: calc(100% - 60px);
}

#SidePanel form {
    padding: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Consolas, 'Courier New', Courier, monospace;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
}

#SidePanel .title,
#PlayGround .title {
    top: 0px;
    padding: 5px 15px;
    height: 30px;
    font-size: 16px;
    background-color: rgb(145, 215, 145);
    position: sticky;
    z-index: 10;
}
#SidePanel .title{
    padding: 5px 5px 5px 10px;
}

#Properties .title{
    cursor: pointer;
}

.inputgroup {
    border: 1px solid #c5c5c5;
    height: 25px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

#SidePanel .list,
#PlayGround .list {
    display: flex;
    line-height: 2;
    align-items: center;
}

#SidePanel .lable,
#PlayGround .lable {
    font-family: calibri;
}


#SidePanel .delete,
#SidePanel .deleteall,
#PlayGround-Header .deleteElement,
#PlayGround-Header .delete,
#SidePanel .delete-img {
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0;
    display: block;
    border: 0;
    background: transparent;
    cursor: pointer; //color:#a3a3a3;
    color: #519651;
    outline: none;
    font-size: 12px;
}

#SidePanel .delete:hover,
#SidePanel .deleteall:hover,
#SidePanel .deleteElement:hover,
#SidePanel .delete-img:hover,
#PlayGround-Header .deleteElement:hover,
#PlayGround-Header .delete:hover {
    color: #000000;
}

#SidePanel .toogleIcon,
#PlayGround .toogleIcon {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-left: -15px;
    cursor: pointer;
}

input,
#SidePanel Select,
#PlayGround-Header select {
    height: 20px;
    border: 0;
    outline: none;
    font-size: 13px;
}

#SidePanel input[type="number"] {
    width: 55px;
    text-align: center;
}

input[type="text"] {
    width: 90px;
    padding-left: 10px;
}

#SidePanel input[type="color"] {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

#SidePanel input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

#SidePanel .unit {
    width: 50px;
    padding-left: 0;
    font-size: 13px;
}

#SidePanel .select {
    width: 106px;
    font-size: 13px;
}

#SidePanel .Range {
    display: none;
    margin-right: 10px;
}

.tabcontent .Range{
    margin-right: 0;
}

#SidePanel .remove {
    margin-left: auto;
}

#Toogle-Attributes-Form {
    margin-right: 5px !important;
}

#Properties {
    overflow: auto;
    height: calc(100% - 33px);
    margin-bottom: 15px;
}

#Attributes-Form .lable {
    line-height: 2
}


#Attributes-Form input {
    width: 100%;
}


#SidePanel .lable {
    width: 90px;
    font-size: 14px;
}


#Border-Tab .lable{
    width: 65px;
}

#Text-Shadow-Tab .lable, #Box-Shadow-Tab .lable{
    width: 70px;
    
}
.tabcontent {
    border-Top: 0;
    padding: 15px 10px;
    display: none;
    margin-bottom: 10px;
    box-shadow: 0 1px 5px #9e9e9e;
    margin-top: 10px;
}

.tab {
    margin-top: 10px;
    display: flex;
    line-height: 2;
    font-size: 15px;
    background-color: rgb(145, 215, 145);
    height: 30px;
    box-shadow: 0 -1px 5px #9e9e9e;
}

.tab button {
    background: transparent;
    border: 0;
    padding: 0 10px 0 10px;
    cursor: pointer;
    outline: none;
}

.activeTab {
    background: #008000 !important;
    color: #ffffff !important;
}


.browse {
    background: #cae8ca;
    padding: 3px;
}

.browse:hover {
    background: #8fc18f;
    cursor: pointer;
}

.labelClip {
    border: 0;
    float: none;
    display: inline-block;
    margin-top: 0;
    margin-left: 0;
}

#SourceView {
    height: 100%;
}

#DesignView {
    overflow: auto;
    padding: 0;
    width:975px;
    height: 100%;
}

#Design{
    height: calc(100% - 197px);
}

#DesignView:after {
    content: "";
    display: block;
    height: 110px;
}


#Footer-Form {
    height: 167px;
    width: 100%;
    background-color: #ffffff;
}

.navlist {
    top: 0px;
    padding: 1px 10px;
    font-size: 14px;
    background-color: rgb(145, 215, 145);
    cursor: pointer;
    margin: 0;
    margin-left: 1px;
    position: relative;
}

.navlist:hover {
    background-color: rgb(127, 200, 127);
}

#ToolSet {
    background: #91d791;
    margin-right: -15px;
    width: 25px;
    cursor: pointer;
}

.preview {
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100%  !important;
    background: #f1f1f1;
}

.close {
    position: fixed;
    top: 0;
    right: 0;
    font-size: 34px;
    opacity: 0.1;
    z-index: 2200;
    display: none;
}

.close:hover {
    opacity: 0.5
}

.topIcon {
    padding: 3px;
    cursor: pointer;
    opacity: 0.3;
    position: relative;
    margin: 5px;
}

.topIcon:hover {
    opacity: 1;
}

#Inline-Styles {
    border-right: 1px solid #d8d8d8;
    padding: 15px 5px;
    height: 167px;
    overflow: auto;
}

#Inline-Styles div.list {
    padding: 2px 10px;
}

#Inline-Styles div.list:hover {
    background-color: #f3f3f3;
}

#Inline-Styles .delete {
    padding: 0px 7px;
    margin-right: -10px;
    cursor: pointer;
    opacity: 0.3;
}

#Inline-Styles .delete:hover {
    background-color: #d2d2d2;
    opacity: 1;
}

#Bootstrap-Components, #Templates, #Images, #Brief{
    height: 167px;
    overflow: auto;
}

.DragElem {
    display: inline-block;
    background: #f9f9f9;
    border: 1px solid #e7e4e4;
    color: #000000;
    padding: 0 12px;
    border-radius: 4px;
    cursor: move;
    margin: 2px;
    font-size: 14px;
    z-index: 1000;
    text-align: center;
    box-shadow: 1px 1px 4px #bbbbbb;
}

.DragElem:hover {
    background: #008000;
    color: white;
    border: 1px solid #008000;
}

.emailicon{
    font-size: 30px;
}


#selector {
    height: 25px !important;
    width: 215px !important;
}

.SelectorDiv{
    display: inline-flex;
    padding: 0 10px 0 10px;
    background: white;
    border-radius: 4px;
    margin-left: auto;
}

.RotateX {
    transform: rotateX(360deg);
    -webkit-transform: rotateX(20deg);
    transform: rotateX(180deg);
}

.RotateY {
    transform: rotateY(360deg);
    -webkit-transform: rotateY(20deg);
    transform: rotateY(180deg);
}

.rs-range-color {
    background-color: #008000;
}

.rs-handle:after {
    background-color: #000000;
}

.rs-border {
    border-color: #008000;
}

.rs-tooltip.hover,
.rs-tooltip.edit:hover {
    border: 0;
}

#skewx span.rs-tooltip.rs-tooltip-text.edit,
#skewy span.rs-tooltip.rs-tooltip-text.edit {
    top: 10px;
}

#setId {
    display: block;
    font-size: 13px;
    padding: 5px;
    background: #91d791;
    cursor: pointer;
}

#setId:hover {
    background: rgb(127, 200, 127);
}

.editinplace {
    display: inline-block;
    font-size: 16px;
    padding: 5px;
}

.err {
    box-shadow: 0px 0px 0px 1px red;
}

.tools {
    text-align: center;
    font-size: 14px;
    cursor: move;
    background: #91d791;
    margin-top: 5px;
    padding: 0 5px;
}

.tools:hover {
    background-color: #008000;
    color: white;
}



.bootstrap-tagsinput {
    border: 0;
    border-radius: 0;
    height: 118px;
    overflow: auto;
}

.bootstrap-tagsinput .badge {
    margin-right: 2px;
    color: white;
    padding: 5px 8px;
    border-radius: 3px;
    border: 1px solid #004800;
    margin: 2px;
}

#Attributes-Form .taginput {
    height: 120px;
    border: 1px solid #c5c5c5;
    overflow: auto;
}

.removeTag {
    opacity: 0.7;
    cursor: pointer;
}

.removeTag:hover {
    opacity: 1;
}

.rs-tooltip-text {
    display: none;
}

.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    width: 200px;
}

.addMore{
    text-align: center;
    color: #6f6f6f;
    font-size: 12px;
}
.addIcon{
    cursor: pointer;
    color: #008000;
    opacity: 0.4;
    font-size: 20px;
    vertical-align: middle;
    transition: 0.2s all ease;
}
.addIcon:hover{
    opacity: 1;
}

.deleteMore{
    background-color: #e1e1e1;
    padding: 0px 5px;
    cursor: pointer;
    opacity: 0.3;
    height: 25px;
    display: block;
    border: 0;
}
.deleteMore:hover{
    opacity: 1;
}

#Library{
    display: block;
    width: 100%;
}
.FooterTabs {
    display: inline-block;
    padding: 0 10px;
    background-color: #91d791;
    height: 28px;
    cursor: pointer;
    margin: 0 1px;
    transition: 0.2s all ease;
}
.FooterTabs:hover {
    background-color: #009c00;
    color: white;
}

.MyThumbnail img {
    width: 135px;
    height: 80px;
    background: #eeeeee;
}

.MyThumbnail{
    height: 115px;
    display: inline-block;
    z-index: 1000;
    cursor: move;
}

.MyThumbnail:hover {
    box-shadow: 0px 0px 20px #757575;
}

#Folders .folder{
    background-color: #91d791;
    color: black;
    padding: 6px;
    cursor: pointer;
    transition: 0.2s all ease;
}

#Folders .folder:hover{
    background-color: #008000;
    color: white;
}

.reload{
        transition: 0.3s all ease;
    display: inline-block;
    position: absolute;
    right: 0;
    opacity: 0.3;
    font-size: 19px;
    margin-right: 10px;
    cursor: pointer;
    z-index: 100;
}
.reload:hover {
    transform: rotate(180deg);
    opacity: 1;
}

#Wrap{
    position: absolute;
    background-color: #f1f1f1;
    margin-left: -160px;
    box-shadow: 0px 7px 15px -9px #7b7b7b;
}

.wrapIcon{
    padding: 3px;
    width: 25px;
    cursor: pointer;
    text-align: center;
    position: relative;
    margin: 0 5px;
    transition: 0.3s all ease;
    color: #000000;
}
.wrapIcon:hover{
    background: black;
    opacity: 1;
    color: white;
    border-radius: 5px;
}