#SidePanel ::-webkit-input-placeholder {
   text-align: center;
}

#SidePanel :-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

#SidePanel ::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

#SidePanel :-ms-input-placeholder {  
   text-align: center; 
}