<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- mobile Friendly-->
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scal=1, user-scalable=no"> mobile Responsive-->
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        * {
            margin: 0;
            Padding: 0;
        }
        .nav:hover a, .nav a:hover{
            color: #eb6242 !important;
        }

        @media only screen and (max-width: 800px) {
            *[class="gmail-fix"] {
                display: none !important;
            }
        }

    </style>
    <link id="highlightcss" rel="stylesheet" href="../../css/highlight.css">
    <link id="highlightcss" rel="stylesheet" href="../../css/highlight.css">
    <link id="highlightcss" rel="stylesheet" href="../../css/highlight.css">
</head>

<body>
    <table border="0" cellspacing="0" cellpadding="0" width="100%">
        <tbody>
            <tr>
                <td align="center" valign="top" bgcolor="#f7f7f7" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px;">
                    <table class="Mobile" border="0" cellspacing="0" cellpadding="0" width="700">
                        <tbody>

                            <!-- Gmail App Fix Starts -->
                            <tr class="gmail-fix">
                                <td align="center" valign="top">
                                    <table cellpadding="0" cellspacing="0" border="0" align="center" valign="top" width="700">
                                        <tbody>
                                            <tr>
                                                <td border="0" height="1" style="line-height: 1px; min-width: 600px;" align="center" valign="top"><img src="images/spacer.gif" width="700" height="1" style="display: block; max-height: 1px; min-height: 1px; min-width: 700px; width: 700px;"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <!-- Gmail App Fix Ends -->
                            <tr>
                                <td align="left" valign="middle" bgcolor="#f7f7f7" style="font-family: Helvetica, Arial, sans-serif;">
                                    <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                        <tr>
                                            <td align="left" valign="middle" bgcolor="#f7f7f7" style="padding: 10px 10px 10px 10px; color: #202020; font-size:11px; font-family: Helvetica, Arial, sans-serif;">
                                                Welcome to Greyferret
                                            </td>
                                            <td align="right" valign="middle" bgcolor="#f7f7f7" style="padding: 10px 10px 10px 10px; color: #202020; font-size:11px; font-family: Helvetica, Arial, sans-serif;">
                                                <a href="#" style="color: #202020;">View Online</a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="middle" bgcolor="#202020" style="font-family: Helvetica, Arial, sans-serif; font-size: 14px; font-weight: bold; padding: 20px 20px 20px 20px; line-height: 22px; color: #000000;">
                                    <a href="https://greyferret.com/"><img src="images/Logo.png" alt="Greyferret" width="90px;" border="0" style="display: block; width: 90px;"></a>
                                </td>
                            </tr>
                            <tr>
                                <td align="left" valign="middle" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif;font-size: 12px;padding: 20px 20px 0px 20px;line-height: 22px;color: #000000;">
                                    All,
                                </td>
                            </tr>
                            <tr>
                                <td align="left" valign="middle" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; padding: 5px 20px 15px 20px; line-height: 22px; color: #000000;">Since this is the 1st email, for starters, here is a list of all our <b><u>Client Implementations</u></b> (in no particular order) -</td>
                            </tr>
                            <tr>
                                <td align="center" valign="top" bgcolor="#ffffff" style="padding: 10px 10px 20px 10px; font-family: Helvetica, Arial, sans-serif;">
                                    <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                        <td align="center" valign="middle" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif;">
                                            <img src="images/FMJ.png" alt="" border="0" style="display: block;">
                                        </td>
                                        <td align="left" valign="top" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif;">
                                            <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                                <tr>
                                                    <td align="left" valign="middle" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif;font-size: 20px; padding: 10px 20px 0 20px; line-height: 22px; color: #eb6242;">
                                                        Fred Mayer Jwellers
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="left" valign="top" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif;font-size: 12px; padding: 15px 20px 0 20px; line-height: 22px; color: #000000;">
                                                        Kicking off a series of <b>Greyferret monthly update emails</b> so we all get a holistic view of the Implementations, Product Roadmap, Engineering sprint progress and other Key activities.
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top" bgcolor="#ffffff" style="padding: 10px 10px 20px 10px; font-family: Helvetica, Arial, sans-serif;">
                                    <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                        <td align="left" valign="top" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif;">
                                            <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                                <tr>
                                                    <td align="left" valign="middle" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif;font-size: 20px; padding: 10px 20px 0 20px; line-height: 22px; color: #eb6242;">
                                                        Fred Mayer Jwellers
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="left" valign="top" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif;font-size: 12px; padding: 15px 20px 0 20px; line-height: 22px; color: #000000;">
                                                        Kicking off a series of <b>Greyferret monthly update emails</b> so we all get a holistic view of the Implementations, Product Roadmap, Engineering sprint progress and other Key activities.
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td align="center" valign="middle" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif;">
                                            <img src="images/FMJ.png" alt="" border="0" style="display: block;">
                                        </td>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="middle" bgcolor="#e7e7e7" style="padding: 0 40px 0 10px;font-family: Helvetica, Arial, sans-serif;">
                                    <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                        <tbody>
                                            <tr>
                                                <td align="center" valign="middle" bgcolor="#e7e7e7" style="padding: 20px 0 20px 0; font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px;">
                                                    <table class="list" border="0" cellspacing="0" cellpadding="0" width="100%" style="margin-left: 25px;">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center" valign="top" bgcolor="#e7e7e7" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px;">
                                                                    &bull;
                                                                </td>
                                                                <td align="left" valign="top" bgcolor="#e7e7e7" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 0px 5px;">
                                                                    <b>Added 1 client (Swell Bottles)</b> for Magento Integration last month.
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center" valign="top" bgcolor="#e7e7e7" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px;">&bull;</td>
                                                                <td align="left" valign="top" bgcolor="#e7e7e7" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 0px 5px;">
                                                                    <b>Adding 1 client (KBS)</b> for WooCommerce Integration&nbsp; next month.
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center" valign="top" bgcolor="#e7e7e7" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px;">&bull;</td>
                                                                <td align="left" valign="top" bgcolor="#e7e7e7" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 0px 5px;">
                                                                    <b>HPE </b>has requesting to enable a feature - Global Campaign Calendar (GCC).
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center" valign="top" bgcolor="#e7e7e7" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px;">&bull;</td>
                                                                <td align="left" valign="top" bgcolor="#e7e7e7" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 0px 5px;">
                                                                    1 Account up for <b>renewal (AsGoodAsNew).</b>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center" valign="top" bgcolor="#e7e7e7" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px;">&bull;</td>
                                                                <td align="left" valign="top" bgcolor="#e7e7e7" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 0px 5px;">
                                                                    <b>Prospect (Edgenuity)</b> discussion is in progress for the GCC&nbsp; and a few more prospects in pipeline from the SC team.</td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center" valign="top" bgcolor="#e7e7e7" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px;">&bull;</td>
                                                                <td align="left" valign="top" bgcolor="#e7e7e7" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 0px 5px;">
                                                                    Unfortunately, we have an attrition this month - Morris4x4 is not renewing. 
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top" bgcolor="#202020" style="padding: 15px 0 10px 0; font-family: Helvetica, Arial, sans-serif;">
                                    <table border="0" cellspacing="0" cellpadding="0" align="center">
                                        <tr>
                                            <td align="center" valign="top" bgcolor="#202020" style="padding: 0 10px 0 10px; font-family: Helvetica, Arial, sans-serif;"><a href="https://twitter.com/iamgreyferret" target="_blank"><img src="images/twitter.png" alt="Twitter" border="0" style="display: block;"></a></td>
                                            <td align="center" valign="top" bgcolor="#202020" style="padding: 0 10px 0 10px; font-family: Helvetica, Arial, sans-serif;"><a href="https://www.facebook.com/iamgreyferret/" target="_blank"><img src="images/facebook.png" alt="Facebook" border="0" style="display: block;"></a></td>
                                            <td align="center" valign="top" bgcolor="#202020" style="padding: 0 10px 0 10px; font-family: Helvetica, Arial, sans-serif;"><a href="https://www.linkedin.com/company/greyferret" target="_blank"><img src="images/linkedin.png" alt="Linked In" border="0" style="display: block;"></a></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="middle" bgcolor="#202020" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; padding: 0 20px 10px 20px; line-height: 22px; color: #bbbbbb;">
                                    &copy; 2018 Grey<span style="color:#ef4e28;">ferret</span><sup>&reg;</sup>. All Rights Reserved.Terms and Conditions
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>
