<html><head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- mobile Friendly-->
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scal=1, user-scalable=no"> mobile Responsive-->
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        * {
            margin: 0;
            Padding: 0;
        }

        @media only screen and (max-width: 800px) {
            *[class="gmail-fix"] {
                display: none !important;
            }
        }
    </style>
    <link id="highlightcss" rel="stylesheet" href="../../css/highlight.css">
<link id="highlightcss" rel="stylesheet" href="../../css/highlight.css"><link id="highlightcss" rel="stylesheet" href="../../css/highlight.css"></head>

<body>
    <table border="0" cellspacing="0" cellpadding="0" width="100%">
        <tbody>
            <tr>
                <td align="center" valign="top" bgcolor="#eeeeee" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px;">
                    <table class="Mobile" border="0" cellspacing="0" cellpadding="0" width="700">
                        <tbody>
                            <tr>
                                <td align="right" valign="bottom" bgcolor="#eeeeee" style="padding:5px 5px 5px 5px;font-family:Helvetica, Arial, sans-serif; font-size:11px; line-height: 15px; color:#949494; text-align: right;">
                                    <a href="${clickthrough('view_online',CUSTOMER_ID_)}" style="color:#949494; text-decoration:underline;" target="_blank">
                                    View in your browser</a>&nbsp;&nbsp;&nbsp;
                                </td>
                            </tr>
                            <!-- Gmail App Fix Starts -->
                            <tr class="gmail-fix">
                                <td align="center" valign="top">
                                    <table cellpadding="0" cellspacing="0" border="0" align="center" valign="top" width="700">
                                        <tbody>
                                            <tr>
                                                <td border="0" height="1" style="line-height: 1px; min-width: 600px;" align="center" valign="top"><img src="images/spacer.gif" width="700" height="1" style="display: block; max-height: 1px; min-height: 1px; min-width: 700px; width: 700px;"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <!-- Gmail App Fix Ends -->
                            <tr>
                                <td align="center" valign="middle" bgcolor="#0270b0" style="font-family: Helvetica, Arial, sans-serif;font-size: 12px;line-height: 22px;padding:  10px;">
                                </td>
                            </tr>
                            <tr>
                                <td class="Headingtitle,highlight" align="center" valign="middle" bgcolor="#ffffff" style="padding:20px 0 0 0 ; font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 22px; color: #000000; font-weight: bolder;">Greyferret Update - May'2018</td>
                            </tr>
                            <tr>
                                <td align="left" valign="middle" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; padding: 10px 20px 0px 20px; line-height: 22px; color: #000000;">
                                    All,
                                </td>
                            </tr>
                            <tr>
                                <td align="left" valign="middle" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; padding: 10px 20px 0 20px; line-height: 22px; color: #000000;">
                                    Kicking off a series of <b>Greyferret monthly update emails</b> so we all get a holistic view of the Implementations, Product Roadmap, Engineering sprint progress and other Key activities. Eventually I am also looking to publish an org-wide monthly newsletter so everyone is equally excited on the product and can look forward to knowing/contributing more.
                                </td>
                            </tr>
                            <tr>
                                <td align="left" valign="middle" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; padding: 10px 20px 15px 20px; line-height: 22px; color: #000000;">Since this is the 1st email, for starters, here is a list of all our <b><u>Client Implementations</u></b> (in no particular order) -</td>
                            </tr>
                            <tr>
                                <td align="center" valign="top" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif;">
                                    <table border="0" cellspacing="0" cellpadding="0" width="670" style="margin: 0 auto;">
                                        <tbody>
                                            <tr>
                                                <td align="center" valign="middle" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif;font-size: 12px;line-height: 22px;">
                                                    <table id="ETicketDetails" border="0" cellspacing="0" cellpadding="0" width="100%" style="border-collapse: collapse;">
                                                        <tbody>
                                                            <tr>
                                                                <td colspan="4" align="left" valign="middle" bgcolor="#0270b0" style="border: 1px solid rgb(2, 112, 176); font-family: Helvetica, Arial, sans-serif; font-size: 14px; padding: 4px 10px; line-height: 22px; color: rgb(255, 255, 255); font-weight: bold;">Client Implementation List</td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center" valign="middle" bgcolor="#0296ee" style="border: 1px solid rgb(2, 112, 176); padding: 2px 10px; font-family: Helvetica, Arial, sans-serif; color: rgb(255, 255, 255); font-size: 14px; line-height: 18px;">
                                                                    Client
                                                                </td>
                                                                <td align="center" valign="middle" bgcolor="#0296ee" style="border: 1px solid rgb(2, 112, 176); padding: 2px 10px; font-family: Helvetica, Arial, sans-serif; color: rgb(255, 255, 255); font-size: 14px; line-height: 18px;">
                                                                    Industry
                                                                </td>
                                                                <td align="center" valign="middle" bgcolor="#0296ee" style="border: 1px solid rgb(2, 112, 176); padding: 2px 10px; font-family: Helvetica, Arial, sans-serif; color: rgb(255, 255, 255); font-size: 14px; line-height: 18px;">
                                                                    Region
                                                                </td>
                                                                <td align="center" valign="middle" bgcolor="#0296ee" style="border: 1px solid rgb(2, 112, 176); padding: 2px 10px; font-family: Helvetica, Arial, sans-serif; color: rgb(255, 255, 255); font-size: 14px; line-height: 18px;">
                                                                    Features Subscribed
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="left" valign="middle" bgcolor="#ffffff" style="border: 1px solid rgb(2, 112, 176); font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 2px 10px; font-weight: bold;">
                                                                    AsGoodAsNew
                                                                </td>
                                                                <td align="left" valign="middle" bgcolor="#ffffff" style="border: 1px solid #0270b0; font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 2px 10px 2px 10px;">
                                                                    eComm-Electronics
                                                                </td>
                                                                <td align="left" valign="middle" bgcolor="#ffffff" style="border: 1px solid #0270b0; font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 2px 10px 2px 10px;">
                                                                    EMEA
                                                                </td>
                                                                <td align="left" valign="middle" bgcolor="#ffffff" style="border: 1px solid #0270b0; font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 2px 10px 2px 10px;">
                                                                    Integrations
                                                                </td>
                                                            </tr><tr>
                                                                <td align="left" valign="middle" bgcolor="#ffffff" style="border: 1px solid rgb(2, 112, 176); font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 2px 10px; font-weight: bold;">
                                                                    Western Union
                                                                </td>
                                                                <td align="left" valign="middle" bgcolor="#ffffff" style="border: 1px solid #0270b0; font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 2px 10px 2px 10px;">
                                                                    Financial Services
                                                                </td>
                                                                <td align="left" valign="middle" bgcolor="#ffffff" style="border: 1px solid #0270b0; font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 2px 10px 2px 10px;">
                                                                    Global
                                                                </td>
                                                                <td align="left" valign="middle" bgcolor="#ffffff" style="border: 1px solid #0270b0; font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 2px 10px 2px 10px;">
                                                                    Integrations, BI Dashboards, Global Campaign Calendar
                                                                </td>
                                                            </tr><tr>
                                                                <td align="left" valign="middle" bgcolor="#ffffff" style="border: 1px solid rgb(2, 112, 176); font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 2px 10px; font-weight: bold;">
                                                                    HPE
                                                                </td>
                                                                <td align="left" valign="middle" bgcolor="#ffffff" style="border: 1px solid #0270b0; font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 2px 10px 2px 10px;">
                                                                    Information Technology
                                                                </td>
                                                                <td align="left" valign="middle" bgcolor="#ffffff" style="border: 1px solid #0270b0; font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 2px 10px 2px 10px;">
                                                                    Global
                                                                </td>
                                                                <td align="left" valign="middle" bgcolor="#ffffff" style="border: 1px solid #0270b0; font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 2px 10px 2px 10px;">
                                                                    Integrations, Segmentation, BI Dashboards
                                                                </td>
                                                            </tr><tr>
                                                                <td align="left" valign="middle" bgcolor="#ffffff" style="border: 1px solid rgb(2, 112, 176); font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 2px 10px; font-weight: bold;">
                                                                    Njoy
                                                                </td>
                                                                <td align="left" valign="middle" bgcolor="#ffffff" style="border: 1px solid #0270b0; font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 2px 10px 2px 10px;">
                                                                    eComm-Elec. Cigars
                                                                </td>
                                                                <td align="left" valign="middle" bgcolor="#ffffff" style="border: 1px solid #0270b0; font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 2px 10px 2px 10px;">
                                                                    USA
                                                                </td>
                                                                <td align="left" valign="middle" bgcolor="#ffffff" style="border: 1px solid #0270b0; font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 2px 10px 2px 10px;">
                                                                    Integrations, Segmentation, Product Recommendations
                                                                </td>
                                                            </tr><tr>
                                                                <td align="left" valign="middle" bgcolor="#ffffff" style="border: 1px solid rgb(2, 112, 176); font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 2px 10px; font-weight: bold;">
                                                                    Morris4x4
                                                                </td>
                                                                <td align="left" valign="middle" bgcolor="#ffffff" style="border: 1px solid #0270b0; font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 2px 10px 2px 10px;">
                                                                    eComm-4x4 products
                                                                </td>
                                                                <td align="left" valign="middle" bgcolor="#ffffff" style="border: 1px solid #0270b0; font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 2px 10px 2px 10px;">
                                                                    USA
                                                                </td>
                                                                <td align="left" valign="middle" bgcolor="#ffffff" style="border: 1px solid #0270b0; font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 2px 10px 2px 10px;">
                                                                    Integrations, Product Recommendations
                                                                </td>
                                                            </tr><tr>
                                                                <td align="left" valign="middle" bgcolor="#ffffff" style="border: 1px solid rgb(2, 112, 176); font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 2px 10px; font-weight: bold;">
                                                                    Rosetta Stone
                                                                </td>
                                                                <td align="left" valign="middle" bgcolor="#ffffff" style="border: 1px solid #0270b0; font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 2px 10px 2px 10px;">
                                                                    Education Technology
                                                                </td>
                                                                <td align="left" valign="middle" bgcolor="#ffffff" style="border: 1px solid #0270b0; font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 2px 10px 2px 10px;">
                                                                    Global
                                                                </td>
                                                                <td align="left" valign="middle" bgcolor="#ffffff" style="border: 1px solid #0270b0; font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 2px 10px 2px 10px;">
                                                                    STO
                                                                </td>
                                                            </tr><tr>
                                                                <td align="left" valign="middle" bgcolor="#ffffff" style="border: 1px solid rgb(2, 112, 176); font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 2px 10px; font-weight: bold;">
                                                                    Mavis Tires
                                                                </td>
                                                                <td align="left" valign="middle" bgcolor="#ffffff" style="border: 1px solid #0270b0; font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 2px 10px 2px 10px;">
                                                                    eComm - Automotive
                                                                </td>
                                                                <td align="left" valign="middle" bgcolor="#ffffff" style="border: 1px solid #0270b0; font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 2px 10px 2px 10px;">
                                                                    USA
                                                                </td>
                                                                <td align="left" valign="middle" bgcolor="#ffffff" style="border: 1px solid #0270b0; font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 2px 10px 2px 10px;">
                                                                    BI Dashboards
                                                                </td>
                                                            </tr><tr>
                                                                <td align="left" valign="middle" bgcolor="#ffffff" style="border: 1px solid rgb(2, 112, 176); font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 2px 10px; font-weight: bold;">
                                                                    Zameen
                                                                </td>
                                                                <td align="left" valign="middle" bgcolor="#ffffff" style="border: 1px solid #0270b0; font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 2px 10px 2px 10px;">
                                                                    Online Real Estate
                                                                </td>
                                                                <td align="left" valign="middle" bgcolor="#ffffff" style="border: 1px solid #0270b0; font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 2px 10px 2px 10px;">
                                                                    EMEA
                                                                </td>
                                                                <td align="left" valign="middle" bgcolor="#ffffff" style="border: 1px solid #0270b0; font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 2px 10px 2px 10px;">
                                                                    STO
                                                                </td>
                                                            </tr><tr>
                                                                <td align="left" valign="middle" bgcolor="#ffffff" style="border: 1px solid rgb(2, 112, 176); font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 2px 10px; font-weight: bold;">
                                                                    Bayut
                                                                </td>
                                                                <td align="left" valign="middle" bgcolor="#ffffff" style="border: 1px solid #0270b0; font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 2px 10px 2px 10px;">
                                                                    eComm-Online Real Estate
                                                                </td>
                                                                <td align="left" valign="middle" bgcolor="#ffffff" style="border: 1px solid #0270b0; font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 2px 10px 2px 10px;">
                                                                    EMEA
                                                                </td>
                                                                <td align="left" valign="middle" bgcolor="#ffffff" style="border: 1px solid #0270b0; font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 2px 10px 2px 10px;">
                                                                    STO
                                                                </td>
                                                            </tr><tr>
                                                                <td align="left" valign="middle" bgcolor="#ffffff" style="border: 1px solid rgb(2, 112, 176); font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 2px 10px; font-weight: bold;">
                                                                    GHA
                                                                </td>
                                                                <td align="left" valign="middle" bgcolor="#ffffff" style="border: 1px solid #0270b0; font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 2px 10px 2px 10px;">
                                                                    Hospitality, Tourism
                                                                </td>
                                                                <td align="left" valign="middle" bgcolor="#ffffff" style="border: 1px solid #0270b0; font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 2px 10px 2px 10px;">
                                                                    EMEA
                                                                </td>
                                                                <td align="left" valign="middle" bgcolor="#ffffff" style="border: 1px solid #0270b0; font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 2px 10px 2px 10px;">
                                                                    Regression Analysis, BI Dashboards
                                                                </td>
                                                            </tr><tr>
                                                                <td align="left" valign="middle" bgcolor="#ffffff" style="border: 1px solid rgb(2, 112, 176); font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 2px 10px; font-weight: bold;">
                                                                    Swell Bottles
                                                                </td>
                                                                <td align="left" valign="middle" bgcolor="#ffffff" style="border: 1px solid #0270b0; font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 2px 10px 2px 10px;">
                                                                    eComm-Water bottles
                                                                </td>
                                                                <td align="left" valign="middle" bgcolor="#ffffff" style="border: 1px solid #0270b0; font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 2px 10px 2px 10px;">
                                                                    USA
                                                                </td>
                                                                <td align="left" valign="middle" bgcolor="#ffffff" style="border: 1px solid #0270b0; font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 2px 10px 2px 10px;">
                                                                    Integrations
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="middle" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px;">
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="middle" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif; font-size: 14px; font-weight: bold; padding: 10px 0px 0px; line-height: 22px; color: #000000;"><img src="images/banner.jpg" alt="banner.jpg" width="700" style="
    height: 300px;
    width: 600px;
"></td>
                            </tr>
                            <tr>
                                <td align="center" valign="middle" bgcolor="#ffffff" style="padding: 20px 40px 10px 40px;font-family: Helvetica, Arial, sans-serif;">
                                    <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                        <tbody>
                                            <tr>
                                                <td align="center" valign="middle" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif;">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center" valign="middle" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px;">
                                                    <table class="list" border="0" cellspacing="0" cellpadding="0" width="100%" style="
    margin-left: 25px;
">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center" valign="top" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px;">
                                                                    &bull;
                                                                </td>
                                                                <td align="left" valign="top" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 0px 5px;">
                                                                    <b>Added 1 client (Swell Bottles)</b> for Magento Integration last month.
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center" valign="top" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px;">&bull;</td>
                                                                <td align="left" valign="top" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 0px 5px;">
                                                                    <b>Adding 1 client (KBS)</b> for WooCommerce Integration&nbsp; next month.
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center" valign="top" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px;">&bull;</td>
                                                                <td align="left" valign="top" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 0px 5px;">
                                                                    <b>HPE </b>has requesting to enable a feature - Global Campaign Calendar (GCC).
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center" valign="top" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px;">&bull;</td>
                                                                <td align="left" valign="top" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 0px 5px;">
                                                                    1 Account up for <b>renewal (AsGoodAsNew).</b>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center" valign="top" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px;">&bull;</td>
                                                                <td align="left" valign="top" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 0px 5px;">
                                                                    <b>Prospect (Edgenuity)</b> discussion is in progress for the GCC&nbsp; and a few more prospects in pipeline from the SC team.</td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center" valign="top" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px;">&bull;</td>
                                                                <td align="left" valign="top" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 0px 5px;">
                                                                    Unfortunately, we have an attrition this month - Morris4x4 is not renewing. We have taken some learnings from this and I will reach out to respective stakeholders so we can prepare ahead.
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left" valign="middle" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 22px; font-weight: bold; padding: 10px 0px 0px 5px;">
                                                    Key Achievements-
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left" valign="middle" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding-top: 10px;">
                                                    <table border="0" cellspacing="0" cellpadding="0" width="100%" class="mylist" style="
    margin-left: 25px;
">
                                                        <tbody>
                                                            <tr>
                                                                <td class="bullet" align="center" valign="top" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px;">&bull;</td>
                                                                <td class="data" align="left" valign="top" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 0px 5px;">The process of <b>product backlog creation prioritized by the SC team &amp; Product management</b>is working well. The above WooCommerce integration is an example.</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="bullet" align="center" valign="top" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px;">&bull;</td>
                                                                <td class="data" align="left" valign="top" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 0px 5px;"><b>Jira &amp; Confluence tools for all product tracking &amp; wiki purposes</b> is immensely helpful for both Engineering &amp; Implementations.</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="bullet" align="center" valign="top" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px;">&bull;</td>
                                                                <td class="data" align="left" valign="top" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 0px 5px;">The <b>AWS West to East Migration</b> is almost complete and we are doing a dry-run of all the apps on the EAST Dev environment.</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="bullet" align="center" valign="top" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px;">&bull;</td>
                                                                <td class="data" align="left" valign="top" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 0px 5px;"><b>Security Ops backlog</b> has been implemented very keenly with inputs from Reddy &amp; team, GDPR compliance boxes have been checked and we are continuing to monitor and close any open items here.</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left" valign="middle" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 22px; padding: 10px 5px; font-weight: bold;">Engineering Sprints-</td>
                                            </tr>
                                            <tr>
                                                <td align="left" valign="middle" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px;">
                                                    <table class="list" border="0" cellspacing="0" cellpadding="0" width="100%" style="margin-left: 25px;">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center" valign="top" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif;font-size: 12px;line-height: 22px;" width="1">&bull;</td>
                                                                <td align="center" valign="top" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px;">
                                                                    <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td align="left" valign="top" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 0px 5px;" width="600">
                                                                                    Officially kicked off the <b>Engineering Sprint 1</b> on April 19, 2018 with a planned capacity of 6 people.
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center" valign="top" bgcolor="#ffffff" style="padding: 0 40px 0 40px; font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px;">
                                                                                    <table class="list" border="0" cellspacing="0" cellpadding="0" width="100%">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td align="center" valign="top" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px;">&bull;</td>
                                                                                                <td align="left" valign="top" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 0px 5px;">
                                                                                                    Analytics Standardization, API Standardization, ESB Re-vamp, SuperAdmin module were the high level Epics picked.
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td align="center" valign="top" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px;">&bull;</td>
                                                                                                <td align="left" valign="top" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 0px 5px;">
                                                                                                    Sprint 1 ended on May 11, 2018 (3 weeks) and achieved 50% coverage (people juggling between Implementations, Engineering and few Production Issues).
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center" valign="top" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif;font-size: 12px;line-height: 22px;" width="1">&bull;</td>
                                                                <td align="center" valign="top" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px;">
                                                                    <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td align="left" valign="top" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 0px 5px;" width="600">
                                                                                    The <b>Engineering Sprint 2</b> started on May 14, 2018 with a planned capacity of&nbsp; 8 people.
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center" valign="top" bgcolor="#ffffff" style="padding: 0 40px 0 40px; font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px;">
                                                                                    <table class="list" border="0" cellspacing="0" cellpadding="0" width="100%">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td align="center" valign="top" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px;">&bull;</td>
                                                                                                <td align="left" valign="top" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 0px 5px;">
                                                                                                    App Standardization, DB Standardization - MySql/RedShift, BI Dashboard Standardization were the high level epics in addition to spill-over from above.
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td align="center" valign="top" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px;">&bull;</td>
                                                                                                <td align="left" valign="top" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 0px 5px;">
                                                                                                    We are on course to about 75% coverage of the existing stories by June 04, 2018. (again with people being pulled into Implementations).
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left" valign="middle" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 22px; padding: 10px 5px; font-weight: bold;">Other Key Activities In Progress -</td>
                                            </tr>
                                            <tr>
                                                <td align="center" valign="middle" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px;">
                                                    <table border="0" cellspacing="0" cellpadding="0" width="100%" class="mylist" style="position: relative;margin-left: 25px;">
                                                        <tbody>
                                                            <tr>
                                                                <td class="bullet" align="center" valign="top" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px;">&bull;</td>
                                                                <td class="data" align="left" valign="top" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 0px 5px;">Plan &amp; publish final date for the 2.0 version roll-out.</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="bullet" align="center" valign="top" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px;">&bull;</td>
                                                                <td class="data" align="left" valign="top" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 0px 5px;">Sales &amp; Marketing Plan.</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="bullet" align="center" valign="top" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px;">&bull;</td>
                                                                <td class="data" align="left" valign="top" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 0px 5px;">Packaging of Insight Services.</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="bullet" align="center" valign="top" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px;">&bull;</td>
                                                                <td class="data" align="left" valign="top" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 0px 5px;">Business Plan.</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="bullet" align="center" valign="top" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px;">&bull;</td>
                                                                <td class="data" align="left" valign="top" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding: 0px 5px;">Greyferret Roadmap (3.0 version - Audience Profile/Persona, Orchestration, Journey Analytics).</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td align="left" valign="middle" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif;font-size: 12px;line-height: 22px;padding: 10px 20px 10px 20px;">In summary, I am happy to state that we have started functioning like a true product team. Thanks for all your support and expect exciting updates every month</td>
                            </tr>
                            <tr>
                                <td align="left" valign="middle" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif;font-size: 12px;line-height: 22px;padding: 0 20px 0 20px;font-style:  italic;">*I would love to hear all your feedback on what more you would want to know/clarify regarding Greyferret so that I can add to (or) re-structure the monthly emails keeping it concise at the same time.</td>
                            </tr>
                            <tr>
                                <td align="left" valign="middle" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif;font-size: 12px;line-height: 22px;padding: 0 20px 0 20px;font-style: italic;">
                                    <div>*I will be setting up separate meetings with the Sales &amp; IS/CSM org for ironing out certain processes.</div>
                                </td>
                            </tr>
                            <tr>
                                <td align="left" valign="middle" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif;font-size: 12px;line-height: 22px;padding: 0 20px 0 20px;font-style: italic;">
                                    <div>*For any other details, we can have a conversation on a separate thread or call.</div>
                                </td>
                            </tr>
                            <tr>
                                <td align="left" valign="middle" bgcolor="#ffffff" style="color: #595959; font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 22px; padding:10px 20px 5px 20px; font-weight: bold;">Regards,</td>
                            </tr>
                            <tr>
                                <td align="left" valign="middle" bgcolor="#ffffff" style="color: #595959; font-family: Helvetica, Arial, sans-serif;font-size: 12px;line-height: 22px;padding: 0 20px 0 20px;">
                                    <b>Varun Ramakrishnan</b> | Product Management | <span style="color: #fe560e">Lister Technologies (P) Ltd</span> <i>(An ISO/IEC 27001:2013 Certified Company)</i>
                                </td>
                            </tr>
                            <tr>
                                <td align="left" valign="middle" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif; font-size: 14px; font-weight: bold; padding: 0 20px 30px 20px; line-height: 22px; color: #000000;"><img src="images/Greyferret.png" alt="banner.jpg"></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body></html>