<!DOCTYPE html><html lang="en"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scal=1, user-scalable=no" />
    <title>Document</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        @media only screen and (max-width: 480px) {
            .mobile-width {
                width: 100% !important;
            }
            td, a{
                display: block !important;
            }
            a{
                padding: 6px !important;
            }
            img{
                width: 100% !important;
                display: inline;
            }
            #Logo img{
                width: 50% !important;
            }
            #Logo{
                padding-bottom: 0 !important;
            }
            #Navs{
                padding-top: 0 !important;
            }
            .Product{
                text-align: center !important;
            }
            .Product_img img{
                width: 100% !important;
            }
            .Product_block{
                width: 100% !important;
            }
            .Detail{
                display: block !important;
                padding-top: 12px !important;
            }
            .d-none{
                display: none !important;
            }
            .CTA{
                margin: 0 auto !important;
            }
        }
    </style>
</head>

<body>
    <table border="0" cellspacing="0" cellpadding="0" width="100%">
        <tr>
            <td align="center" valign="top" bgcolor="#ededed" style="font-family: Helvetica, Arial, sans-serif;">
                <table border="0" cellspacing="0" cellpadding="0" width="600" class="mobile-width">
                    <tr>
                        <td id="Logo" align="center" valign="top" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif; padding: 10px 0 10px 0; color: #ffffff" >
                            <img src="https://static.cdn.responsys.net/i2/responsysimages/prtnr01/contentlibrary/z_siva_ui/task3/images/header-2.png" alt="Sharekhan" border="0" style="display: block;">
                        </td>
                    </tr> <!-- Logo -->
                    <tr>
                        <td id="Navs" align="center" valign="top" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif;  padding: 10px 0 10px 0;">
                            <table border="0" cellspacing="0" cellpadding="0" width="90%">
                                <tr>
                                    <td align="center" valign="top" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; color: #181113; font-weight: bold;">
                                        <a href="https://prtnr01.rsys2.net/pub/cc?_ri_=X0Gzc2X%3DYQpglLjHJlTQGunusAiGKBhpsOknC4yLaqF4PLdOzaDzcSfUEc5khIGsU1WN33KT3VXtpKX%3DSRCBBUBD&amp;_ei_=Eq2tf9zs59idfPO1Sc_9BblC6riEBZfGWY9LwubmQtV0c8-_trEe0zoM-AJ86IglDY60unNPT0K-h4g." style="text-decoration:none; color:#000000">NEW TO MARGET</a>
                                    </td>
                                    <td align="center" valign="top" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif;  font-size: 12px; color: #181113;  font-weight: bold;">
                                        <a href="https://prtnr01.rsys2.net/pub/cc?_ri_=X0Gzc2X%3DYQpglLjHJlTQGunusAiGKBhpsOknC4yLaqF4PLdOzaDzcSfUEc5khIGsU1WN33KT3VXtpKX%3DSRCBBUBD&amp;_ei_=Eq2tf9zs59idfPO1Sc_9BblC6riEBZfGWY9LwubmQtV0c8-_trEe0zoM-AJ86IglDY60unNPT0K-h4g." style="text-decoration:none; color:#000000">RESEARCH</a>
                                    </td>
                                    <td align="center" valign="top" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif;  font-size: 12px; color: #181113;  font-weight: bold;">
                                        <a href="https://prtnr01.rsys2.net/pub/cc?_ri_=X0Gzc2X%3DYQpglLjHJlTQGunusAiGKBhpsOknC4yLaqF4PLdOzaDzcSfUEc5khIGsU1WN33KT3VXtpKX%3DSRCBBUBD&amp;_ei_=Eq2tf9zs59idfPO1Sc_9BblC6riEBZfGWY9LwubmQtV0c8-_trEe0zoM-AJ86IglDY60unNPT0K-h4g." style="text-decoration:none; color:#000000">SUPER INVESTOR</a>
                                    </td>
                                    <td align="center" valign="top" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif;  font-size: 12px; color: #181113;  font-weight: bold;">
                                        <a href="https://prtnr01.rsys2.net/pub/cc?_ri_=X0Gzc2X%3DYQpglLjHJlTQGunusAiGKBhpsOknC4yLaqF4PLdOzaDzcSfUEc5khIGsU1WN33KT3VXtpKX%3DSRCBBUBD&amp;_ei_=Eq2tf9zs59idfPO1Sc_9BblC6riEBZfGWY9LwubmQtV0c8-_trEe0zoM-AJ86IglDY60unNPT0K-h4g." style="text-decoration:none; color:#000000">MUTUAL FUNDS</a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr> <!-- Navs -->
                    <tr>
                        <td align="center" valign="top" bgcolor="#df4a29" style="font-family: Helvetica, Arial, sans-serif; padding: 3px 0 0 0;">
                            <img src="https://static.cdn.responsys.net/i2/responsysimages/prtnr01/contentlibrary/z_siva_ui/task3/images/banner-top.jpg" alt="Welcome Aboard" border="0" style="display: block; width:100%;" width="600">
                        </td>
                    </tr> <!-- Banner -->
                    <tr>
                        <td align="center" valign="top" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif;">
                            <img src="https://static.cdn.responsys.net/i2/responsysimages/prtnr01/contentlibrary/z_siva_ui/task3/images/banner-bottom2.jpg" alt="Banner Bottom" border="0" style="display: block; width:100%;" width="600">
                        </td>
                    </tr> <!-- Banner Bottom -->
                    <tr>
                        <td align="left" valign="top" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif; padding: 40px 20px 5px 20px; color: #363636; font-size: 12px; line-height: 19px;">
                            <b>
                                Hi Sharekhan,<br>
                                <br>
                                You have received a welcome email - A<br>
                                <br>
                                Regards,<br>
                                Admin<br>
                            </b>
                            <br> At Sharekhan, we firmly believe that relationship &amp; trust are the key to your business success.
                        </td>
                    </tr> <!-- Content -->
                    <tr> <!-- Product Block -->
                        <td align="center" valign="top" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif;padding: 0px 06px 0px 06px;">
                            <table border="0" cellspacing="0" cellpadding="0" >
                                <tr>
                                    <td align="center" valign="top" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif; padding: 12px 06px 12px 06px;">
                                        <table class="Product_block" border="0" cellspacing="0" cellpadding="0" width="180">
                                            <tr>
                                                <td align="center" valign="top" bgcolor="#e68a73" style="font-family: Helvetica, Arial, sans-serif;" class="Product_img">
                                                    <img src="https://static.cdn.responsys.net/i2/responsysimages/prtnr01/contentlibrary/z_siva_ui/task3/images/banner-bottom_col1.jpg" alt="MARKET OPPORTUINITY" border="0" style="display: block;" width="180">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left" valign="top" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif;padding: 20px 5px;font-size: 12px;line-height: 19px" class="Product">
                                                    <font style="font-size:16px;color:#e68a73;font-weight:bold;" class="Title">Market Oppurtunity</font><br><br class="d-none"> <font class="Detail">Market research (also in some contexts known as industrial research) is any organized effort to gather information about target markets or customers.</font>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center" valign="top" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif; padding: 10px 0 10px 0;">
                                                    <table border="0" cellspacing="0" cellpadding="0" class="CTA">
                                                        <tr>
                                                            <td align="center" valign="middle" bgcolor="#ff6a00" style="font-family: Helvetica, Arial, sans-serif; padding: 10px 20px 10px 20px; vertical-align: middle; font-weight: bold;">
                                                                <a href="https://prtnr01.rsys2.net/pub/cc?_ri_=X0Gzc2X%3DYQpglLjHJlTQGunusAiGKBhpsOknC4yLaqF4PLdOzaDzcSfUEc5khIGsU1WN33KT3VXtpKX%3DSRCBBUBD&amp;_ei_=Eq2tf9zs59idfPO1Sc_9BblC6riEBZfGWY9LwubmQtV0c8-_trEe0zoM-AJ86IglDY60unNPT0K-h4g." style="text-decoration:none; color:#ffffff"> Know More</a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td align="center" valign="top" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif; padding: 12px 06px 12px 06px;">
                                        <table class="Product_block" border="0" cellspacing="0" cellpadding="0" width="180">
                                            <tr>
                                                <td align="center" valign="top" bgcolor="#e68a73" style="font-family: Helvetica, Arial, sans-serif;" class="Product_img">
                                                    <img src="https://static.cdn.responsys.net/i2/responsysimages/prtnr01/contentlibrary/z_siva_ui/task3/images/banner-bottom_col1.jpg" alt="MARKET OPPORTUINITY" border="0" style="display: block;" width="180">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left" valign="top" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif;padding: 20px 5px;font-size: 12px;line-height: 19px" class="Product">
                                                    <font style="font-size:16px;color:#e68a73;font-weight:bold;" class="Title">Market Oppurtunity</font><br><br class="d-none"> <font class="Detail">Market research (also in some contexts known as industrial research) is any organized effort to gather information about target markets or customers.</font>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center" valign="top" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif; padding: 10px 0 10px 0;">
                                                    <table border="0" cellspacing="0" cellpadding="0" class="CTA">
                                                        <tr>
                                                            <td align="center" valign="middle" bgcolor="#ff6a00" style="font-family: Helvetica, Arial, sans-serif; padding: 10px 20px 10px 20px; vertical-align: middle; font-weight: bold;">
                                                                <a href="https://prtnr01.rsys2.net/pub/cc?_ri_=X0Gzc2X%3DYQpglLjHJlTQGunusAiGKBhpsOknC4yLaqF4PLdOzaDzcSfUEc5khIGsU1WN33KT3VXtpKX%3DSRCBBUBD&amp;_ei_=Eq2tf9zs59idfPO1Sc_9BblC6riEBZfGWY9LwubmQtV0c8-_trEe0zoM-AJ86IglDY60unNPT0K-h4g." style="text-decoration:none; color:#ffffff"> Know More</a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
									<td align="center" valign="top" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif; padding: 12px 06px 12px 06px;">
                                        <table class="Product_block" border="0" cellspacing="0" cellpadding="0" width="180">
                                            <tr>
                                                <td align="center" valign="top" bgcolor="#e68a73" style="font-family: Helvetica, Arial, sans-serif;" class="Product_img">
                                                    <img src="https://static.cdn.responsys.net/i2/responsysimages/prtnr01/contentlibrary/z_siva_ui/task3/images/banner-bottom_col1.jpg" alt="MARKET OPPORTUINITY" border="0" style="display: block;" width="180">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left" valign="top" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif;padding: 20px 5px;font-size: 12px;line-height: 19px" class="Product">
                                                    <font style="font-size:16px;color:#e68a73;font-weight:bold;" class="Title">Market Oppurtunity</font><br><br class="d-none"> <font class="Detail">Market research (also in some contexts known as industrial research) is any organized effort to gather information about target markets or customers.</font>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center" valign="top" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif; padding: 10px 0 10px 0;">
                                                    <table border="0" cellspacing="0" cellpadding="0" class="CTA">
                                                        <tr>
                                                            <td align="center" valign="middle" bgcolor="#ff6a00" style="font-family: Helvetica, Arial, sans-serif; padding: 10px 20px 10px 20px; vertical-align: middle; font-weight: bold;">
                                                                <a href="https://prtnr01.rsys2.net/pub/cc?_ri_=X0Gzc2X%3DYQpglLjHJlTQGunusAiGKBhpsOknC4yLaqF4PLdOzaDzcSfUEc5khIGsU1WN33KT3VXtpKX%3DSRCBBUBD&amp;_ei_=Eq2tf9zs59idfPO1Sc_9BblC6riEBZfGWY9LwubmQtV0c8-_trEe0zoM-AJ86IglDY60unNPT0K-h4g." style="text-decoration:none; color:#ffffff"> Know More</a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" valign="top" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif; color: #363636; font-size: 12px; line-height: 19px;padding: 0px 20px 10px 20px;">
                            Sharekhan has been in the broking business for over 12 years and is known for its education initiatives, values of trust and protecting investors rights. As a sharekhan business partner**, not only are you associated with one of the leading financial service company, but you also become a part of an ever-expanding network of over 1950 share shops across 575 locations.
                        </td>
                    </tr>
                    <tr>

                    </tr>
                    <tr>
                        <td align="left" valign="top" bgcolor="#555555" style="font-family: Helvetica, Arial, sans-serif; font-size: 11px; color: #efefef; padding: 10px 20px 10px 20px; line-height: 19px;">
                            <font style="font-size: 15px; color: #e17457;">
                                Give Missed Call 022-39386836 / Email: bussinesspartner@sharekhan.com
                            </font><br> *Conditions apply<br> *Registered Subbroker / Remisser / Authorised Person<br>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="top" bgcolor="#d3d3d3" style="font-family: Helvetica, Arial, sans-serif;font-size: 10px; color: #555555 !important; padding: 20px 20px 20px 20px; line-height: 19px;">
                            <font style="font-size: 12px; font-weight: bold;">COPYRIGHT 2017 · SHAREKHAN FINANCIAL SERVICES PVT. LTD. · ALL RIGHTS RESERVED.</font><br><br> Registered Office: Sharekhan Limited, 10th Floor, Beta Building, Lodha iThink Techno Campus, Off. JVLR, Opp. Kanjurmarg Railway Station, Kanjurmarg (East), Mumbai 400042, Maharashtra. Tel: 022 - 61150000. Sharekhan Ltd.: SEBI Regn. Nos.: BSE: INB/INF011073351; NSE: INB/INF231073330 ; MSEI: INB/INF261073333; DP: NSDL-IN-DP-NSDL-233-2003 ; CDSL-IN-DP-CDSL-271-2004 ; Mutual Fund-ARN 20669 ; For any complaints email at igc@sharekhan.com ; Disclaimer: Client should read the Risk Disclosure Document issued by SEBI &amp; relevant exchanges and the T &amp; C on www.sharekhan.com before investing.
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <table cellpadding="0" cellspacing="0" style="border: 0px; padding: 0px; margin: 0px; position: absolute; display: none; float: left">
        <tr>
            <td height="1" style="font-size: 1px; line-height: 1px; padding: 0px;">
                <br><img src="http://prtnr01.rsys2.net/pub/as?_ri_=X0Gzc2X%3DYQpglLjHJlTQGunusAiGKBhpsOknC4yLaqF4PLdOzaDzcSfUEc5khIGsU1WN33KT3VXHkMX%3Dw&amp;_ei_=EolaGGF4SNMvxFF7KucKuWMmkOJTmqyc6TBDseAzhqaBLekqcf0FllNIXLeu0b_rrLvM.">
                <!-- </img> -->
                <br><img border="0" width="1" height="1" src="https://ib.adnxs.com/getuid?https://a.adrsp.net/dsp/ci/2/E63SZip4YDW2aVHKjHTwqB97l3HhMW7uLGzkR-iipEqx9GLqYUb4JEzCYWRiBSGXxkrFBr34PqCLMSzgqp7qAnsVthiOp79Vyg/%24UID">
                <!-- </img> -->
            </td>
        </tr>
    </table>
</body>
</html>