<!DOCTYPE html>
<html lang="en" style="opacity: 1;"><head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<!-- mobile Friendly--><!--    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scal=1, user-scalable=no"> mobile Responsive-->
	<title>Tax Act</title>
	<style type="text/css">* {
		margin: 0;
		padding: 0;
        }
		
        @media only screen and (max-width: 480px) {
		.Mobile {
		width: 90% !important;
		margin: 0 auto;
		}
		img {
		display: inline !important;
		width: 100% !important;
		}
		td {
		display: block;
		width: 100% !important;
		height: auto !important;
		text-align: center;
		font-size: 14px !important;
		padding-left: 0 !important;
		padding-right: 0 !important;
		}
		font {
		display: block;
		padding: 0 10px 0 10px !important;
		}
		.Logo img{
		width: auto !important;
		}
		.CTA {
		margin: 10px auto 0 auto;
		}
		.CTA td,
		.Social_Link td {
		display: inline !important;
		}
		.CTA a{
		border-width: 10px 20px 10px 20px!important;
		}
		.CTA a img, .d-none{
		display: none !important;
		}
		.Title{
		font-size: 18px !important;
		}
		.Tile, .Title, .Detail, .Link {
		padding: 7px 0 7px 0 !important;
		}
		.Social_Link td {
		padding-left: 10px !important;
		padding-right: 10px !important;
		}
		.Social_Link td img {
		width: auto !important;
		}
		.Footer {
		font-size: 12px !important;
		}
		.Footer_Link {
		width: 100% !important;
		}
		.Footer_Link td{
		padding: 5px 0 5px 0 !important;
		}
        }
	</style>
	
</head>
<body style="">
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tbody>
				<tr>
					<td align="center" bgcolor="#f4f5f7" style="font-family: Helvetica, Arial, sans-serif;" valign="top">
						<table border="0" cellpadding="0" cellspacing="0" class="Mobile" width="600">
							<tbody>
								<tr>
									<td align="left" bgcolor="#f4f5f7" style="font-family: Helvetica, Arial, sans-serif;color: #999999;font-size: 11px;padding: 20px 0 0 0;" valign="top">
										<a href="https://prtnr01.rsys2.net/pub/cc?_ri_=X0Gzc2X%3DYQpglLjHJlTQGzbzfa64Czb7a6kzgH79HcnFdC6mBrcy9dw1zfSHmzfctB6zf3MKao2iFRVXtpKX%3DSRCBBWWS&amp;_ei_=Eq2tf9zs59idfPO1Sc_9BbnrMfUVWKjE2iqEvANy8rqiWSkiTzuW76tYHJmcCK0Zk6j9BcfT6W6RT-w." style="text-decoration:none;color: #565656;">Mobile
											Editions</a> | <a href="https://prtnr01.rsys2.net/pub/cc?_ri_=X0Gzc2X%3DYQpglLjHJlTQGzbzfa64Czb7a6kzgH79HcnFdC6mBrcy9dw1zfSHmzfctB6zf3MKao2iFRVXtpKX%3DSRCBBWWS&amp;_ei_=Eq2tf9zs59idfPO1Sc_9BbnrMfUVWKjE2iqEvANy8rqiWSkiTzuW76tYHJmcCK0Zk6j9BcfT6W6RT-w." style="text-decoration:none;color: #565656;">
										Web Editions</a></td>
								</tr>
								<tr>
									<td align="center" bgcolor="#f4f5f7" style="font-family: Helvetica, Arial, sans-serif;padding: 25px 0 25px 0;" valign="top">
										<table border="0" cellpadding="0" cellspacing="0" width="100%">
											<tbody>
												<tr>
													<td align="left" bgcolor="#f4f5f7" class="Logo" style="font-family: Helvetica, Arial, sans-serif;" valign="bottom">
													<img alt="TaxAct.Professional" border="0" src="https://static.cdn.responsys.net/i2/responsysimages/prtnr01/contentlibrary/z_siva_ui/task6/images/TaxAct_logo.jpg" style="display: block;"></td>
													<td align="right" bgcolor="#f4f5f7" style="font-family: Helvetica, Arial, sans-serif;" valign="top">
														<table border="0" cellpadding="0" cellspacing="0" class="CTA" valign="top">
															<tbody>
																<tr>
																	<td align="center" bgcolor="#3e8ddd" class="cta-hover" height="36" style="background: #316eb6;color: #ececec;font-size: 15px;font-family:Helvetica, Arial, sans-serif;line-height: 18px;cursor: pointer;border-radius: 6px;" valign="middle">
																		<a href="https://prtnr01.rsys2.net/pub/cc?_ri_=X0Gzc2X%3DYQpglLjHJlTQGzbzfa64Czb7a6kzgH79HcnFdC6mBrcy9dw1zfSHmzfctB6zf3MKao2iFRVXtpKX%3DSRCBBWWS&amp;_ei_=Eq2tf9zs59idfPO1Sc_9BbnrMfUVWKjE2iqEvANy8rqiWSkiTzuW76tYHJmcCK0Zk6j9BcfT6W6RT-w." style="background: #316eb6;border-width: 0px 0px 0px 0px;border-style: solid;border-color: #316eb6;display: inline-block;color: #ffffff;font-size: 15px;border-radius: 6px;font-family:Helvetica, Arial, sans-serif;line-height: 16px;text-decoration: none;" target="_blank"><img height="1" src="https://static.cdn.responsys.net/i2/responsysimages/prtnr01/contentlibrary/z_siva_ui/task6/images/btn_spacer.png" width="6">
																			Sign In <img height="1" src="https://static.cdn.responsys.net/i2/responsysimages/prtnr01/contentlibrary/z_siva_ui/task6/images/btn_spacer.png" width="6">
																		</a></td>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
								<tr>
									<td align="center" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif;padding: 25px 0 25px 0;" valign="top">
										<table border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto;">
											<tbody>
												<tr>
													<td align="center" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif;width: 120px;padding: 0 3px 0 5px;" valign="bottom">
													<img alt="Tax News" border="0" src="https://static.cdn.responsys.net/i2/responsysimages/prtnr01/contentlibrary/z_siva_ui/task6/images/taxnews.jpg" style="display: block;" width="100%"></td>
													<td align="center" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif;padding: 0 5px 0 5px;font-size: 18px;color: #565656;" valign="bottom">
													for professionals&nbsp; | &nbsp;May 2017</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
								<tr>
									<td align="center" bgcolor="#ffffff" class="Tile" style="font-family: Helvetica, Arial, sans-serif; font-size: 20px; font-weight:bold;" valign="top">
									<img alt="Banner" border="0" src="https://static.cdn.responsys.net/i2/responsysimages/prtnr01/contentlibrary/z_siva_ui/task6/images/banner.jpg" style="display: block;" width="600"></td>
								</tr>
								<tr>
									<td align="left" bgcolor="#ffffff" class="Title" style="font-family: Helvetica, Arial, sans-serif;line-height: 30px;font-size: 24px;font-weight:  bold;padding: 25px 20px 10px 20px;color: #38434e;" valign="top">
									<font>5 Ways to Evaluate Your Tax Business</font></td>
								</tr>
								<tr>
									<td align="left" bgcolor="#ffffff" class="Detail" style="font-family: Helvetica, Arial, sans-serif;line-height: 18px;padding: 0 20px 0 20px;font-size: 12px;color: #38434e;" valign="top">
									<font>Successful tax preparers use the month of May to evaluate their filing season and their business by starting to prepare for next year.</font></td>
								</tr>
								<tr>
									<td align="left" bgcolor="#ffffff" class="Link" style="font-family: Helvetica, Arial, sans-serif;padding: 10px 20px 30px 20px;padding-bottom: 30px !important;font-size: 14px;font-weight: bold;" valign="top">
									<font><a href="" style="text-decoration:none;color: #316eb6;">Learn more </a></font></td>
								</tr>
								<tr>
									<td align="center" bgcolor="#f4f5f7" style="font-family: Helvetica, Arial, sans-serif;padding: 20px 0 20px 0;" valign="top">
										<table border="0" cellpadding="0" cellspacing="0" width="100%">
											<tbody>
												<tr>
													<td align="center" bgcolor="#f4f5f7" style="font-family: Helvetica, Arial, sans-serif;padding: 0 7px 0 0;" valign="top" width="200">
														<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" style="padding: 0 0 10px 0;" width="100%">
															<tbody>
																<tr>
																	<td align="center" bgcolor="#ffffff" class="Tile" style="font-family: Helvetica, Arial, sans-serif;height: 129px;padding: 0 0 10px 0;" valign="top">
																	<img alt="template_01" border="0" height="100%" src="https://static.cdn.responsys.net/i2/responsysimages/prtnr01/contentlibrary/z_siva_ui/task6/images/template_01.jpg" style="display: block;" width="193"></td>
																</tr>
																<tr>
																	<td align="left" bgcolor="#ffffff" class="Title" style="font-family: Helvetica, Arial, sans-serif;padding: 5px 20px 5px 20px;font-weight:  bold;font-size: 17px;line-height: 30px;color: #38434e;" valign="top">
																	<font>New Name, Same Quality!</font></td>
																</tr>
																<tr>
																	<td align="left" bgcolor="#ffffff" class="Detail" style="font-family: Helvetica, Arial, sans-serif;padding: 5px 20px 5px 20px;line-height: 18px;font-size: 12px;color: #38434e;" valign="top" height="72">
																	<font>TaxAct Preparer's Editions will now be TaxAct Professional Editions.</font></td>
																</tr>
																<tr>
																	<td align="left" bgcolor="#ffffff" class="Link" style="font-family: Helvetica, Arial, sans-serif;padding: 10px 20px 10px 20px;font-size: 14px;font-weight: bold;" valign="top">
																		<font><a href="https://prtnr01.rsys2.net/pub/cc?_ri_=X0Gzc2X%3DYQpglLjHJlTQGzbzfa64Czb7a6kzgH79HcnFdC6mBrcy9dw1zfSHmzfctB6zf3MKao2iFRVXtpKX%3DSRCBBWWS&amp;_ei_=Eq2tf9zs59idfPO1Sc_9BbnrMfUVWKjE2iqEvANy8rqiWSkiTzuW76tYHJmcCK0Zk6j9BcfT6W6RT-w." style="text-decoration:none;color: #316eb6;">Learn
																		more</a></font></td>
																</tr>
															</tbody>
														</table>
													</td>
													<td align="center" bgcolor="#f4f5f7" style="font-family: Helvetica, Arial, sans-serif;padding: 0 7px 0 7px;" valign="top" width="200">
														<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" style="padding: 0 0 10px 0;" width="100%">
															<tbody>
																<tr>
																	<td align="center" bgcolor="#ffffff" class="Tile" style="font-family: Helvetica, Arial, sans-serif;height: 129px;padding: 0 0 10px 0;" valign="top">
																	<img alt="template_02" border="0" height="100%" src="https://static.cdn.responsys.net/i2/responsysimages/prtnr01/contentlibrary/z_siva_ui/task6/images/template_02.jpg" style="display: block;" width="186"></td>
																</tr>
																<tr>
																	<td align="left" bgcolor="#ffffff" class="Title" style="font-family: Helvetica, Arial, sans-serif;padding: 5px 20px 5px 20px;font-weight: bold;font-size: 17px;line-height: 30px;color: #38434e;" valign="top">
																	<font>Expand Your Target Market</font></td>
																</tr>
																<tr>
																	<td align="left" bgcolor="#ffffff" class="Detail" style="font-family: Helvetica, Arial, sans-serif;padding: 5px 20px 5px 20px;line-height: 18px;font-size: 12px;color: #38434e;" valign="top" height="72">
																	<font>Join us for our next webinar in the TaxAct Professional Practice Growth Series.</font></td>
																</tr>
																<tr>
																	<td align="left" bgcolor="#ffffff" class="Link" style="font-family: Helvetica, Arial, sans-serif;padding: 10px 20px 10px 20px;font-size: 14px;font-weight: bold;" valign="top">
																		<font><a href="https://prtnr01.rsys2.net/pub/cc?_ri_=X0Gzc2X%3DYQpglLjHJlTQGzbzfa64Czb7a6kzgH79HcnFdC6mBrcy9dw1zfSHmzfctB6zf3MKao2iFRVXtpKX%3DSRCBBWWS&amp;_ei_=Eq2tf9zs59idfPO1Sc_9BbnrMfUVWKjE2iqEvANy8rqiWSkiTzuW76tYHJmcCK0Zk6j9BcfT6W6RT-w." style="text-decoration:none;color: #316eb6;">Register
																		Now</a></font></td>
																</tr>
															</tbody>
														</table>
													</td>
													<td align="center" bgcolor="#f4f5f7" style="font-family: Helvetica, Arial, sans-serif;width: 32%;padding: 0px 0px 0 7px;" valign="top" width="200">
														<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" style="padding: 0 0 10px 0;" width="100%">
															<tbody>
																<tr>
																	<td align="center" bgcolor="#ffffff" class="Tile" style="font-family: Helvetica, Arial, sans-serif;height: 129px;padding: 0 0 10px 0;" valign="top">
																	<img alt="template_03" border="0" height="100%" src="https://static.cdn.responsys.net/i2/responsysimages/prtnr01/contentlibrary/z_siva_ui/task6/images/template_03.jpg" style="display: block;" width="193"></td>
																</tr>
																<tr>
																	<td align="left" bgcolor="#ffffff" class="Title" style="font-family: Helvetica, Arial, sans-serif;padding: 5px 20px 5px 20px;font-weight: bold;line-height: 30px;font-size: 17px;color: #38434e;" valign="top">
																	<font>Enter Our Sweepstakes</font></td>
																</tr>
																<tr>
																	<td align="left" bgcolor="#ffffff" class="Detail" style="font-family: Helvetica, Arial, sans-serif;line-height: 18px;font-size: 12px;padding: 5px 20px 5px 20px;color: #38434e;" valign="top" height="72">
																	<font>We're giving away ten $500 Amazon gift cards that winners can use for their practice.</font></td>
																</tr>
																<tr>
																	<td align="left" bgcolor="#ffffff" class="Link" style="font-family: Helvetica, Arial, sans-serif;padding: 10px 20px 10px 20px;font-size: 14px;font-weight: bold;" valign="top">
																		<font><a href="https://prtnr01.rsys2.net/pub/cc?_ri_=X0Gzc2X%3DYQpglLjHJlTQGzbzfa64Czb7a6kzgH79HcnFdC6mBrcy9dw1zfSHmzfctB6zf3MKao2iFRVXtpKX%3DSRCBBWWS&amp;_ei_=Eq2tf9zs59idfPO1Sc_9BbnrMfUVWKjE2iqEvANy8rqiWSkiTzuW76tYHJmcCK0Zk6j9BcfT6W6RT-w." style="text-decoration:none;color: #316eb6;">Enter
																		Now</a></font></td>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
								<tr>
									<td align="center" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif;" valign="top">
										<table border="0" cellpadding="0" cellspacing="0" height="165" width="100%">
											<tbody>
												<tr>
													<td align="center" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif;" valign="top" width="35%">
													<img alt="template_04" border="0" src="https://static.cdn.responsys.net/i2/responsysimages/prtnr01/contentlibrary/z_siva_ui/task6/images/template_04.jpg" style="display: block;" width="210"></td>
													<td align="center" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif;padding: 20px 30px 30px 30px;" valign="middle">
														<table border="0" cellpadding="0" cellspacing="0" width="100%">
															<tbody>
																<tr>
																	<td align="left" bgcolor="#ffffff" class="Title" style="font-family: Helvetica, Arial, sans-serif;font-weight: bold;line-height: 30px;font-size: 17px;color: #38434e;" valign="top">
																	<font>TaxAct Professional on LinkedIn</font></td>
																</tr>
																<tr>
																	<td align="left" bgcolor="#ffffff" class="Detail" style="font-family: Helvetica, Arial, sans-serif;font-size: 12px;padding: 5px 0 5px 0;line-height: 18px;color: #38434e;" valign="top">
																	<font>Access to industry trends, best practices &amp; more!</font></td>
																</tr>
																<tr>
																	<td align="left" bgcolor="#ffffff" class="Link" style="font-family: Helvetica, Arial, sans-serif;font-size: 14px;font-weight: bold;padding: 5px 0 5px 0;" valign="top">
																		<font><a href="https://prtnr01.rsys2.net/pub/cc?_ri_=X0Gzc2X%3DYQpglLjHJlTQGzbzfa64Czb7a6kzgH79HcnFdC6mBrcy9dw1zfSHmzfctB6zf3MKao2iFRVXtpKX%3DSRCBBWWS&amp;_ei_=Eq2tf9zs59idfPO1Sc_9BbnrMfUVWKjE2iqEvANy8rqiWSkiTzuW76tYHJmcCK0Zk6j9BcfT6W6RT-w." style="text-decoration:none;color: #316eb6;">Join
																		Today</a></font></td>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
								<tr>
									<td align="center" bgcolor="#f4f5f7" style="font-family: Helvetica, Arial, sans-serif;padding: 25px 25px 25px 25px;" valign="top">
										<table border="0" cellpadding="0" cellspacing="0" class="Social_Link" style="margin:0 auto;">
											<tbody>
												<tr>
													<td align="center" bgcolor="#f4f5f7" style="font-family: Helvetica, Arial, sans-serif;padding: 0 10px 0 10px;" valign="top">
													<a href="https://prtnr01.rsys2.net/pub/cc?_ri_=X0Gzc2X%3DYQpglLjHJlTQGzbzfa64Czb7a6kzgH79HcnFdC6mBrcy9dw1zfSHmzfctB6zf3MKao2iFRVXtpKX%3DSRCBBWWS&amp;_ei_=Eq2tf9zs59idfPO1Sc_9BbnrMfUVWKjE2iqEvANy8rqiWSkiTzuW76tYHJmcCK0Zk6j9BcfT6W6RT-w." style="text-decoration:none; color:#000000"><img alt="News Feed" border="0" src="https://static.cdn.responsys.net/i2/responsysimages/prtnr01/contentlibrary/z_siva_ui/task6/images/feed.jpg" style="display: block;"></a></td>
													<td align="center" bgcolor="#f4f5f7" style="font-family: Helvetica, Arial, sans-serif;padding: 0 10px 0 10px;" valign="top">
													<a href="https://prtnr01.rsys2.net/pub/cc?_ri_=X0Gzc2X%3DYQpglLjHJlTQGzbzfa64Czb7a6kzgH79HcnFdC6mBrcy9dw1zfSHmzfctB6zf3MKao2iFRVXtpKX%3DSRCBBWWS&amp;_ei_=Eq2tf9zs59idfPO1Sc_9BbnrMfUVWKjE2iqEvANy8rqiWSkiTzuW76tYHJmcCK0Zk6j9BcfT6W6RT-w." style="text-decoration:none; color:#000000"><img alt="Linked In" border="0" src="https://static.cdn.responsys.net/i2/responsysimages/prtnr01/contentlibrary/z_siva_ui/task6/images/linkedin.jpg" style="display: block;"></a></td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
								<tr>
									<td align="center" bgcolor="#f4f5f7" class="Footer" style="font-family: Helvetica, Arial, sans-serif;font-size: 12px;color: #565656;padding: 0 20px 5px 20px; line-height: 20px;" valign="top">
									<font>Add reply@e.taxact.com to your address book or safe sender list. Learn how.</font></td>
								</tr>
								<tr>
									<td align="center" bgcolor="#f4f5f7" class="Footer" style="font-family: Helvetica, Arial, sans-serif;font-size: 12px;color: #565656;padding: 0 20px 12px 20px; line-height: 20px;" valign="top">
									<font>If you do not wish to receive TaxAct emails, unsubscribe here or write to TaxAct, Promotional Email Removal, 1425 60th Street NE, Cedar Rapids, IA 52402.</font></td>
								</tr>
								<tr>
									<td align="center" bgcolor="#f4f5f7" class="Footer" style="font-family: Helvetica, Arial, sans-serif;font-size: 12px;color: #565656;padding: 0 20px 10px 20px; line-height: 20px;" valign="top">
									<font>This e-mail was sent to: %%EMAIL%%</font></td>
								</tr>
								<tr>
									<td align="center" bgcolor="#f4f5f7" class="Footer" style="font-family: Helvetica, Arial, sans-serif;font-size: 12px; color: #565656; font-weight: bold; padding: 0 20px 35px 20px; line-height: 20px;" valign="top">
										<table border="0" cellpadding="0" cellspacing="0" class="Footer_Link">
											<tbody>
												<tr>
													<td align="center" bgcolor="f4f5f7" style="font-family: Helvetica, Arial, sans-serif; padding: 0 10px 0 10px;" valign="top">
													<a href="https://prtnr01.rsys2.net/pub/cc?_ri_=X0Gzc2X%3DYQpglLjHJlTQGzbzfa64Czb7a6kzgH79HcnFdC6mBrcy9dw1zfSHmzfctB6zf3MKao2iFRVXtpKX%3DSRCBBWWS&amp;_ei_=Eq2tf9zs59idfPO1Sc_9BbnrMfUVWKjE2iqEvANy8rqiWSkiTzuW76tYHJmcCK0Zk6j9BcfT6W6RT-w." style="text-decoration:none;color: #565656;">Support</a></td>
													<td align="center" bgcolor="#f4f5f7" class="d-none" style="font-family: Helvetica, Arial, sans-serif;" valign="top">
													|</td>
													<td align="center" bgcolor="#f4f5f7" style="font-family: Helvetica, Arial, sans-serif; padding: 0 10px 0 10px;" valign="top">
														<a href="https://prtnr01.rsys2.net/pub/cc?_ri_=X0Gzc2X%3DYQpglLjHJlTQGzbzfa64Czb7a6kzgH79HcnFdC6mBrcy9dw1zfSHmzfctB6zf3MKao2iFRVXtpKX%3DSRCBBWWS&amp;_ei_=Eq2tf9zs59idfPO1Sc_9BbnrMfUVWKjE2iqEvANy8rqiWSkiTzuW76tYHJmcCK0Zk6j9BcfT6W6RT-w." style="text-decoration:none;color: #565656;">Security
														Center</a></td>
														<td align="center" bgcolor="#f4f5f7" class="d-none" style="font-family: Helvetica, Arial, sans-serif;" valign="top">
														|</td>
														<td align="center" bgcolor="#f4f5f7" style="font-family: Helvetica, Arial, sans-serif; padding: 0 10px 0 10px;" valign="top">
														<a href="https://prtnr01.rsys2.net/pub/cc?_ri_=X0Gzc2X%3DYQpglLjHJlTQGzbzfa64Czb7a6kzgH79HcnFdC6mBrcy9dw1zfSHmzfctB6zf3MKao2iFRVXtpKX%3DSRCBBWWS&amp;_ei_=Eq2tf9zs59idfPO1Sc_9BbnrMfUVWKjE2iqEvANy8rqiWSkiTzuW76tYHJmcCK0Zk6j9BcfT6W6RT-w." style="text-decoration:none;color: #565656;">Preferences</a></td>
														<td align="center" bgcolor="#f4f5f7" class="d-none" style="font-family: Helvetica, Arial, sans-serif;" valign="top">
														|</td>
														<td align="center" bgcolor="#f4f5f7" style="font-family: Helvetica, Arial, sans-serif; padding: 0 10px 0 10px;" valign="top">
															<a href="https://prtnr01.rsys2.net/pub/cc?_ri_=X0Gzc2X%3DYQpglLjHJlTQGzbzfa64Czb7a6kzgH79HcnFdC6mBrcy9dw1zfSHmzfctB6zf3MKao2iFRVXtpKX%3DSRCBBWWS&amp;_ei_=Eq2tf9zs59idfPO1Sc_9BbnrMfUVWKjE2iqEvANy8rqiWSkiTzuW76tYHJmcCK0Zk6j9BcfT6W6RT-w." style="text-decoration:none;color: #565656;">Update
															Email</a></td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>




</body></html>
