<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scal=1, user-scalable=no">
    <title>Njoy</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        @media only screen and (max-width: 480px) {
            .Mobile {
                width: 100% !important;
                margin: 0 auto;
            }
            img {
                display: inline !important;
                width: 100% !important;
            }
            .nav {
                padding: 20px 0 !important;
            }
            .nav,
            .nav table,
            .nav tbody,
            .nav tr,
            .nav td {
                height: auto !important;
                width: 100% !important;

            }
            .nav td {
                display: block !important;
                padding: 5px 0 5px 0 !important;
            }
            td {
                height: auto !important;
                text-align: center !important;
                font-size: 14px !important;
                padding-left: 0 !important;
                padding-right: 0 !important;
            }
            font.Text {
                display: block;
                padding: 0 10px 0 10px !important;
                width: auto !important;
            }
            .Logo img {
                width: auto !important;
            }
            .CTA {
                margin: 10px auto 0px auto;
            }
            .CTA td,
            .Social_Link td {
                display: inline !important;
            }
            .CTA a {
                border-width: 10px 20px 10px 20px!important;
                border-style: solid;
                border-color: #ffffff;
            }
            .CTA a img {
                display: none !important;
            }
            .Social_Link td {
                padding-left: 10px !important;
                padding-right: 10px !important;
            }
            .Social_Link td img {
                width: auto !important;
            }
            .Footer {
                font-size: 12px !important;
            }

            .d-block {
                display: block !important;
            }
            .d-inline {
                display: inline !important;
            }
            .d-none {
                display: none !important;
            }
            .w100 {
                width: 100% !important;
            }
            .pt-20 {
                padding-top: 20px !important;
            }
            .small {
                font-size: 11px !important
            }
        }

    </style>
</head>

<body bgcolor="#e6e6e6" style="margin: 0px; padding: 0px;">
    <table align="center" bgcolor="#e6e6e6" border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
            <tr>
                <td align="center" valign="top">
                    <table class="Mobile" align="center" bgcolor="#e6e6e6" border="0" cellpadding="0" cellspacing="0" width="600">
                        <!--Preheader starts-->
                        <tr>
                            <td align="center" bgcolor="#eeeeee" valign="top" style="margin: 0 auto">
                                <table class="w100" align="center" border="0" cellpadding="0" cellspacing="0" width="600">
                                    <tr>
                                        <td class="small" align="left" bgcolor="#eeeeee" style="font-weight: bold; font-family:Helvetica, Arial, sans-serif;font-size:11px !important; line-height: 15px;color:#000000;text-align: left;padding: 10px 10px 10px 10px;">
                                            Welcome to NJOY
                                        </td>
                                        <td align="right" bgcolor="#eeeeee" style="font-family:Helvetica, Arial, sans-serif; font-size:11px !important; line-height: 15px; color:#949494; text-align: right;padding: 10px 10px 10px 10px;">
                                            <a href="#" style="color:#949494;">View in browser</a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <!--Preheader Ends-->
                        <!--Logo Section starts-->
                        <tr>
                            <td align="center" bgcolor="#ffffff" valign="top" style="padding:20px 0;">
                                <table class="w100" align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="600">
                                    <tr>
                                        <td align="center" style="font-family: Arial, Helvetica, sans- serif; font-size: 14px; font-weight:bold; color:#000000;" valign="middle"><a href="#" style="text-decoration:none;color:#000000;">E-CIGS</a></td>
                                        <td align="center" style="font-family: Arial, Helvetica, sans- serif; font-size: 14px; font-weight:bold; color:#000000;" valign="middle"><a href="#" style="text-decoration:none; color:#000000;">VAPING</a></td>
                                        <td class="Logo" align="center" style="padding-top: 10px;" valign="middle"><a href="#" style="text-decoration:none;"><img alt="Njoy" border="0" border="0" style="display: block;" src="https://static.cdn.responsys.net/i2/responsysimages/prtnr01/contentlibrary/z_siva_ui/njoy/images/logo.png" title="Njoy"></a></td>
                                        <td align="center" style="font-family: Arial, Helvetica, sans- serif; font-size: 14px; font-weight:bold; color:#000000;" valign="middle"><a href="#" style="text-decoration:none; color:#000000;">VAPE LIFE</a></td>
                                        <td align="center" style="font-family: Arial, Helvetica, sans- serif; font-size: 14px; font-weight:bold; color:#000000;" valign="middle"><a href="#" style="text-decoration:none; color:#000000;">DEALS</a></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="top" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif;"><img alt="FREE SHIPPING" border="0" height="60" src="https://static.cdn.responsys.net/i2/responsysimages/prtnr01/contentlibrary/z_siva_ui/njoy/images/banner_02.jpg" style="display: block !important;" title="FREE SHIPPING" width="600"></td>
                        </tr>
                        <tr>
                            <td align="center" valign="top" bgcolor="#ffffff" style="font-family: Helvetica, Arial, sans-serif;"><img alt="Welcome to Njoy" border="0" src="https://static.cdn.responsys.net/i2/responsysimages/prtnr01/contentlibrary/z_siva_ui/njoy/images/banner_04.jpg" style="display: block !important;" title="Welcome to Njoy" width="600"></td>
                        </tr>
                        <!--Hero Image Ends-->
                        <tr>
                            <td align="center" bgcolor="#ffffff" style="font-family: Arial, Helvetica, sans- serif; font-size: 14px;  line-height:22px; padding-left:40px; padding-top:20px; padding-bottom:20px; padding-right:40px;  color:#000000; text-align:left" valign="top">
                                <font class="Text">Welcome to the NJOY the Switch Program! By purchasing the first ever "Switch Kit", you're receiving a collection of fantastically satisfying electronic cigarettes and vapping devices at a very special price, and gaining access to resources to help you make the Switch. You can explore the program <a href="#">here</a>. To get started right away, find the link to 'My Switch Journey', a self-guided switch support program designed by our team of experts to make your switching process so enjoybable that you'll actually want to do it.</font>
                            </td>
                        </tr>
                        <!--First Paragarph Ends-->
                        <tr>
                            <td align="center" bgcolor="#ffffff" style="font-family: Arial, Helvetica, sans- serif; line-height:22px; padding-left:40px; padding-top:20px; padding-bottom:20px; padding-right:40px;  color:#000000; text-align:left" valign="top">
                                <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                    <tr>
                                        <td align="center" valign="top" bgcolor="#23314b" style="padding:10px; font-size: 16px; font-family: Helvetica, Arial, sans-serif; color:#ffffff">
                                            <font class="Text">Purchased the switch kit for someone?</font>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" valign="top" bgcolor="#23314b" style="font-family: Helvetica, Arial, sans-serif;">
                                            <table class="CTA" cellspacing="0" cellpadding="0" border="0" valign="top">
                                                <tr>
                                                    <td align="center" valign="middle" bgcolor="#ffffff" height="36" style="color: #000000; font-weight: bold; font-size: 14px; font-family:Helvetica, Arial, sans-serif; line-height: 18px;cursor: pointer; padding-left: 10px; padding-right:10px;">
                                                        <a target="_blank" style="text-decoration:none; color:#000000;">
                                                CLICK HERE  &#x25BA;
                                            </a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="pt-20" align="center" valign="top" bgcolor="#23314b" style="padding:10px; font-size: 12px; color:#ffffff; font-family: Helvetica, Arial, sans-serif; line-height: 20px;">
                                            <font class="Text w-100" style="display:block; width:500px;">so we don't send you additional emails about NJOY's Switch Program</font>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" bgcolor="#ffffff" style="font-family: Arial, Helvetica, sans- serif; font-size: 14px;  line-height:22px; padding-left:40px; padding-top:20px; padding-bottom:20px; padding-right:40px;  color:#000000; text-align:left" valign="top">
                                <font class="Text">If you purchased the Switch Kit for yourself, congratulations on taking the first step on your journey. We'll let you konw when your Swith Kit ships, and until then, we're here for you. Please contact <a href="#">cs@njoy.com</a> if you any questions.</font>
                            </td>
                        </tr>
                        <tr>
                            <td align="left" valign="top" bgcolor="#ffffff" style="font-size: 14px;  line-height:22px; padding-left:40px; padding-right:40px; font-family: Helvetica, Arial, sans-serif;">
                                <font class="Text">Vape it Forward,</font>
                            </td>
                        </tr>
                        <tr>
                            <td align="left" valign="top" bgcolor="#ffffff" style="font-size: 14px;  line-height:22px; padding-bottom:20px; padding-left:40px; padding-right:40px;  font-family: Helvetica, Arial, sans-serif;">
                                <font class="Text">The NJOY Team</font>
                            </td>
                        </tr>

                        <!--Products Column Section Ends-->
                        <!--Footer Section starts-->
                        <tr>
                            <td class="Footer" align="center" bgcolor="#282828" style="font-family: Arial, Helvetica, sans- serif;  line-height:16px; padding: 30px 50px; color:#ffffff;" valign="top">
                                <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                    <tr>
                                        <td align="center" valign="top" bgcolor="#282828" style="font-family: Helvetica, Arial, sans-serif;">
                                            <table class="Social_Link" border="0" cellspacing="0" cellpadding="0" align="center" style="margin:0 auto;">
                                                <tr>
                                                    <td align="center" valign="top" bgcolor="#282828" style="padding-left:10px; padding-right:10px; font-family: Helvetica, Arial, sans-serif;">
                                                        <a href="#" target="_blank"><img src="https://static.cdn.responsys.net/i2/responsysimages/prtnr01/contentlibrary/z_siva_ui/njoy/images/fb.jpg" alt="Facebook" border="0" style="display: block;"></a>
                                                    </td>
                                                    <td align="center" valign="top" bgcolor="#282828" style="padding-left:10px; padding-right:10px; font-family: Helvetica, Arial, sans-serif;">
                                                        <a href="#" target="_blank"><img src="https://static.cdn.responsys.net/i2/responsysimages/prtnr01/contentlibrary/z_siva_ui/njoy/images/tw.png" alt="Facebook" border="0" style="display: block;"></a>
                                                    </td>
                                                    <td align="center" valign="top" bgcolor="#282828" style="padding-left:10px; padding-right:10px; font-family: Helvetica, Arial, sans-serif;">
                                                        <a href="#" target="_blank"><img src="https://static.cdn.responsys.net/i2/responsysimages/prtnr01/contentlibrary/z_siva_ui/njoy/images/g+.png" alt="Facebook" border="0" style="display: block;"></a>
                                                    </td>
                                                    <td align="center" valign="top" bgcolor="#282828" style="padding-left:10px; padding-right:10px; font-family: Helvetica, Arial, sans-serif;">
                                                        <a href="#" target="_blank"><img src="https://static.cdn.responsys.net/i2/responsysimages/prtnr01/contentlibrary/z_siva_ui/njoy/images/in.png" alt="Facebook" border="0" style="display: block;"></a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" valign="top" bgcolor="#282828" style="padding-top:10px;font-family: Helvetica, Arial, sans-serif; font-size: 12px;  line-height:16px; color:#a7a7a7">
                                            <font class="Text">If you visit or shop on <a href="https://litmus.com/builder/documents/2305569" style="text-decoration:none; color:#a7a7a7">www.NJOY.com</a>, you agree to accept these conditions, and those described in the NJOY Privacy Policy. Please read them carefully. In addition, when you use <a href="https://litmus.com/builder/documents/2305569" style="text-decoration:none; color:#a7a7a7">www.NJOY.com</a>, you are subject to our guidelines and conditions.</font>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td align="center" valign="top" bgcolor="#282828" style="padding-top:10px;font-family: Helvetica, Arial, sans-serif; font-size: 9px;  line-height:16px; color:#a7a7a7">
                                            <font class="Text small">UNDERAGE SALE PROHIBITED. NOT INTENDED FOR USE BY PERSONS UNDER THE LEGAL SMOKING AGE.</font>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" valign="top" bgcolor="#282828" style="padding-top:10px;font-family: Helvetica, Arial, sans-serif; font-size: 12px;  line-height:16px; color:#a7a7a7">
                                            <font class="Text">This email was sent to <a href="https://litmus.com/builder/documents/2305569" style="text-decoration:none; color:#a7a7a7">xyzxyz@abc.com</a></font>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" valign="top" bgcolor="#282828" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;  line-height:16px; color:#a7a7a7">
                                            <font class="Text">If you no longer wish to receive these emails you may <a href="https://litmus.com/builder/documents/2305569" style="text-decoration:none; color:#a7a7a7">unsubscribe</a> at any time.</font>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" valign="top" bgcolor="#282828" style="padding-top:10px;font-family: Helvetica, Arial, sans-serif; font-size: 12px;  line-height:16px; color:#a7a7a7">
                                            <font class="Text">&copy; 2018 NJOY All Rights Reserved.</font>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <!--Footer Section Ends-->
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>
