<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd"><html style="opacity: 1;"><head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
   <meta content="width=device-width, initial-scale=1.0" name="viewport">
   <title>Njoy</title>
   <style type="text/css">@media only screen and (max-width:640px)
    {
      .myContainer{
        width:100% !important;
        height:auto !important;
      }
      .image {
        width:95% !important;
        height:auto !important;
        !important;
        padding-right: 5px;
        !important;
      }
      .myContainerwith10rgtpaddng{
        width: 90% !important;
      }
      .logocontentstyle{
        font-size:12px !important;
      }
      .displayblock {
        display: block !important;
        width: 100% !important;
      }
      .displaynone {
        display: none !important;
      }
      }
   </style>
</head>
<body bgcolor="#e6e6e6" style="margin: 0px; padding: 0px;">
<table align="center" bgcolor="#e6e6e6" border="0" cellpadding="0" cellspacing="0" width="100%">
   <tbody>
      <tr>
         <td align="center" valign="top">
         <table align="center" bgcolor="#e6e6e6" border="0" cellpadding="0" cellspacing="0" class="myContainer" width="600"><!--Preheader starts-->
            <tbody>
               <tr>
                  <td align="center" class="myContainer" valign="top">
                  <table align="center" bgcolor="#d3d3d3 " border="0" cellpadding="0" cellspacing="0" width="100%">
                     <tbody>
                        <tr>
                           <td align="left" style="font-family: Arial, Helvetica, sans- serif; font-size: 11px; font-weight:bold;  padding-left: 10px; padding-top: 10px; padding-bottom: 10px;  color:#000000;" valign="top">Welcome to Njoy</td>
                           <td align="right" style="font-family: Arial, Helvetica, sans- serif; font-size: 11px; font-weight:bold;  padding-right: 10px; padding-top: 10px; padding-bottom: 10px;  color:#000000;" valign="top"><a href="#" style="text-decoration: underline; color:#000000;" target="_blank">View Online</a></td>
                        </tr>
                     </tbody>
                  </table>
                  </td>
               </tr>
               <!--Preheader Ends--><!--Logo Section starts-->
               <tr>
                  <td align="center" class="myContainer" valign="top">
                  <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
                     <tbody>
                        <tr>
                           <td align="center" class="logocontentstyle" style="font-family: Arial, Helvetica, sans- serif; font-size: 16px; font-weight:bold;  color:#181113;" valign="middle">E-CIGS</td>
                           <td align="center" class="logocontentstyle" style="font-family: Arial, Helvetica, sans- serif; font-size: 16px; font-weight:bold; color:#181113;" valign="middle">VAPING</td>
                           <td align="right" style="padding-top: 10px;" valign="middle"><img alt="Njoy" border="0" class="displaynone" height="54" src="https://static.cdn.responsys.net/i2/responsysimages/prtnr01/contentlibrary/z_archana_training/Logo.png" style="display: block;" title="Njoy" width="79"> <!--[if !mso]><!--><img alt="Njoy" border="0" class="displayblock" height="54" src="https://static.cdn.responsys.net/i2/responsysimages/prtnr01/contentlibrary/z_archana_training/Logomobile.png" style="display: none;" title="Njoy" width="50"><!--<![endif]--></td>
                           <td align="center" class="logocontentstyle" style="font-family: Arial, Helvetica, sans- serif; font-size: 16px; font-weight:bold;  color:#181113;" valign="middle">VAPE LIFE</td>
                           <td align="center" class="logocontentstyle" style="font-family: Arial, Helvetica, sans- serif; font-size: 16px; font-weight:bold;  color:#181113;" valign="middle">DEALS</td>
                        </tr>
                     </tbody>
                  </table>
                  </td>
               </tr>
               <!--Logo Section Ends--><!--Tool Bar starts-->
               <tr>
                  <td align="center" valign="top">
                  <table align="center" bgcolor="#000000" border="0" cellpadding="0" cellspacing="0" width="100%">
                     <tbody>
                        <tr>
                           <td align="center" style="font-family: Arial, Helvetica, sans- serif; font-size: 12px; padding-top:5px; padding-bottom:5px;  color:#ffffff;" valign="middle">BUY DAILY NOW</td>
                           <td align="center" bgcolor="#ffffff" valign="top" width="1"></td>
                           <td align="center" style="font-family: Arial, Helvetica, sans- serif; font-size: 12px; padding-top:5px; padding-bottom:5px;  color:#ffffff;" valign="middle">BUY KING NOW</td>
                           <td align="center" bgcolor="#ffffff" valign="top" width="1"></td>
                           <td align="center" style="font-family: Arial, Helvetica, sans- serif; font-size: 12px; padding-top:5px; padding-bottom:5px;  color:#ffffff;" valign="middle">BUY PFT NOW</td>
                        </tr>
                     </tbody>
                  </table>
                  </td>
               </tr>
               <!--Tool Bar Ends--><!--Shipping Image starts-->
               <tr>
                  <td align="center" valign="top"><img alt="FREE SHIPPING" border="0" class="myContainer" height="60" src="https://static.cdn.responsys.net/i2/responsysimages/prtnr01/contentlibrary/z_archana_training/Shipping.png" style="display: block;" title="FREE SHIPPING" width="600"></td>
               </tr>
               <!--Shipping Image Ends--><!--Hero Image starts-->
               <tr>
                  <td align="center" valign="top"><img alt="Welcome to Njoy" border="0" class="myContainer" height="240" src="https://static.cdn.responsys.net/i2/responsysimages/prtnr01/contentlibrary/z_archana_training/rsz_1rsz_1rsz_hero.png" style="display: block;" title="Welcome to Njoy" width="600"></td>
               </tr>
               <!--Hero Image Ends--><!--Coupon Code Starts-->
               <tr>
                  <td align="center" bgcolor="ffffff" class="myContainer" style="padding-top:20px;" valign="top">
                  <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
                     <tbody>
                        <tr>
                           <td align="center" style="font-family: Arial, Helvetica, sans- serif; font-size: 26px; font-weight:bold; padding-left:10px; color:#181113;" valign="top">15% OFF $50 OR MORE<sup>*</sup></td>
                        </tr>
                        <tr>
                           <td align="center" style="padding-top:10px; font-family: Arial, Helvetica, sans- serif; font-size: 16px;" valign="top">USE CODE: <span style="color:#02ba4d;"><b>JUST4U</b><span></td>
                        </tr>
                        <tr>
                           <td align="center" bgcolor="#ffffff" valign="top"><!--Offer BUY NOW Button Starts--></td>
                        </tr>
                        <tr>
                           <td align="center" style="padding-top:10px; padding-bottom: 20px;" valign="top">
                           <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0">
                              <tbody>
                                 <tr>
                                    <td align="center" bgcolor="#d3d3d3" style="padding-top:15px; padding-bottom: 15px; padding-left:50px; padding-right:50px; font-size: 16px; font-weight:bold; font-family: Arial, Helvetica, sans- serif;" valign="top"><a href="#" style="text-decoration: none; color:#000000;font-family: Arial, Helvetica, sans- serif;font-size: 16px;" target="_blank">BUY NOW</a></td>
                                 </tr>
                              </tbody>
                           </table>
                           </td>
                        </tr>
                        <!--Offer BUY NOW Button Ends-->
                     </tbody>
                  </table>
                  </td>
               </tr>
               <!--Coupon Code Ends--><!--First Paragarph starts-->
               <tr>
                   <td align="center" bgcolor="#ffffff" style="font-family: Arial, Helvetica, sans- serif; font-size: 14px;  line-height:22px; padding-left:20px; padding-top:20px; padding-bottom:20px; padding-right:20px;  color:#000000; text-align:left" valign="top">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</td>
               </tr>
               <!--First Paragarph Ends--><!--Products Column Section starts-->
               <tr>
                  <td align="center" bgcolor="ffffff" valign="top">
                  <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
                     <tbody>
                        <tr><!--1st Column Section starts-->
                           <td align="center" class="displayblock" valign="top">
                           <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
                              <tbody>
                                 <tr>
                                    <td align="center" valign="top"><img alt="NJOY DAILY APPLE CRISP" border="0" class="myContainer" height="250" src="https://static.cdn.responsys.net/i2/responsysimages/prtnr01/contentlibrary/z_archana_training/NJOYDAILYAPPLECRISP.png" style="display: block;" title="NJOY DAILY APPLE CRISP" width="200"></td>
                                 </tr>
                                 <tr>
                                    <td align="center" style="font-family: Arial, Helvetica, sans- serif; font-size: 14px; font-weight:bold; padding-left:10px; color:#181113;padding-top:10px; padding-bottom:10px;" valign="top">NJOY DAILY APPLE CRISP</td>
                                 </tr>
                                 <tr>
                                    <td align="center" style="font-family: Arial, Helvetica, sans- serif; font-size: 14px; color:#4d4d4d;" valign="top">$5.99</td>
                                 </tr>
                                 <tr>
                                    <td align="center" style="padding-top:10px; padding-bottom: 10px; font-family: Arial, Helvetica, sans- serif; font-size: 14px; line-height:20px;  padding-left:10px; padding-right:10px; color:#000000;" valign="top">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</td>
                                 </tr>
                                 <!--BUY NOW Button Starts-->
                                 <tr>
                                    <td align="center" style="padding-top:10px; padding-bottom: 20px;" valign="top">
                                    <table align="center" bgcolor="#ffffff" border="1" cellpadding="0" cellspacing="0">
                                       <tbody>
                                          <tr>
                                             <td align="center" style="padding-top:15px; padding-bottom: 15px; padding-left:20px; padding-right:20px; font-size: 14px; font-weight:bold; font-family: Arial, Helvetica, sans- serif; font-size: 14px;" valign="top"><a href="#" style="text-decoration: none; color:#000000; font-family: Arial, Helvetica, sans- serif; font-size: 14px;" target="_blank">BUY NOW</a></td>
                                          </tr>
                                       </tbody>
                                    </table>
                                    </td>
                                 </tr>
                                 <!--BUY NOW Button Ends-->
                              </tbody>
                           </table>
                           </td>
                           <!--1st Column Section Ends--><!--2nd Column Section starts-->
                           <td align="center" class="displayblock" valign="top">
                           <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
                              <tbody>
                                 <tr>
                                    <td align="center" valign="top"><img alt="NJOY DAILY BLUE PLUS BLACLBERRY" border="0" class="myContainer" height="250" src="https://static.cdn.responsys.net/i2/responsysimages/prtnr01/contentlibrary/z_archana_training/NJOYDAILYBLUEPLUSBLACLBERRY.png" style="display: block;" title="NJOY DAILY BLUE PLUS BLACLBERRY" width="200"></td>
                                 </tr>
                                 <tr>
                                    <td align="center" style="font-family: Arial, Helvetica, sans- serif; font-size: 14px; font-weight:bold; padding-left:10px; color:#181113;padding-top:10px; padding-bottom:10px;" valign="top">NJOY DAILY BLUE PLUS BLACLBERRY</td>
                                 </tr>
                                 <tr>
                                    <td align="center" style="font-family: Arial, Helvetica, sans- serif; font-size: 14px; color:#4d4d4d;" valign="top">$5.99</td>
                                 </tr>
                                 <tr>
                                    <td align="center" style="padding-top:10px; padding-bottom: 10px; font-family: Arial, Helvetica, sans- serif; font-size: 14px; line-height:20px; padding-left:10px; padding-right:10px; color:#000000;" valign="top">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</td>
                                 </tr>
                                 <!--BUY NOW Button Starts-->
                                 <tr>
                                    <td align="center" style="padding-top:10px; padding-bottom: 20px;" valign="top">
                                    <table align="center" bgcolor="#ffffff" border="1" cellpadding="0" cellspacing="0">
                                       <tbody>
                                          <tr>
                                             <td align="center" style="padding-top:15px; padding-bottom: 15px; padding-left:20px; padding-right:20px; font-size: 14px; font-weight:bold; font-family: Arial, Helvetica, sans- serif; font-size: 14px;" valign="top"><a href="#" style="text-decoration: none; color:#000000; font-family: Arial, Helvetica, sans- serif; font-size: 14px;" target="_blank">BUY NOW</a></td>
                                          </tr>
                                       </tbody>
                                    </table>
                                    </td>
                                 </tr>
                                 <!--BUY NOW Button Ends-->
                              </tbody>
                           </table>
                           </td>
                           <!--2nd Column Section Ends-->
                        </tr>
                     </tbody>
                  </table>
                  </td>
               </tr>
               <!--Products Column Section Ends--><!--Footer Section starts-->
               <tr>
                  <td align="center" bgcolor="#282828" style="font-family: Arial, Helvetica, sans- serif; font-size: 11px;  line-height:16px; padding-left:20px; padding-right:20px; padding-top:20px; color:#ffffff;" valign="top">If you visit or shop on www.NJOY.com, you agree to accept these conditions, and those described in the NJOY Privacy Policy.Please read them carefully.In addition, when you use www.NJOY.com, you are subject to our guidelines and conditions.<br>
                  <br>
                  UNDERAGE SALE PROHIBITED.NOT INTENDED FOR USE BY PERSONS UNDER THE LEGEAL SMOKING AGE.<br>
                  <br>
                  This email was sent to <a href="mailto:xyzxyz@abc.com" style="text-decoration: none; color:#ffffff;" target="_blank">xyzxyz@abc.com<br>
                  If you no longer wish to receive these emails you may </a><a href="#" style="text-decoration: underline; color:#ffffff;" target="_blank">unsubscribe</a> at any time.<br>
                  <br>
                  ©2018 NJOY ALL Rights Reserved.<br>
                  &nbsp;</td>
               </tr>
               <!--Footer Section Ends-->
            </tbody>
         </table>
         </td>
      </tr>
   </tbody>
</table><table cellpadding="0" cellspacing="0" style="border: 0px; padding: 0px; margin: 0px; position: absolute; display: none; float: left">
<tr>
<td height="1" style="font-size: 1px; line-height: 1px; padding: 0px;">
<br><img src="http://prtnr01.rsys2.net/pub/as?_ri_=X0Gzc2X%3DYQpglLjHJlTQGiHIsW9XG7Gm1tOW2qnEgjORG0GT581CfLzcKqm78bFcB1JLolWOVXHkMX%3Dw&amp;_ei_=EolaGGF4SNMvxFF7KucKuWOAYtahS7lW30thnSrzg2BlniWENfPH3ETpig_mJVeBFw."><!-- </img> -->
<br><img border="0" width="1" height="1" src="https://ib.adnxs.com/getuid?https://a.adrsp.net/dsp/ci/2/Ea6MEJMoMcRtgah-ZISGeL37bppnrgv1hnNzJjcl3-UwZ-bmWDrurwpRm_Gro2uv-9K4STsmyPQWbqvyPtBHSPjYuTKFFUA/%24UID"><!-- </img> -->
</td>
</tr>
</table>
</body>
</html>


